<!DOCTYPE html>
<html ng-app="jbsApp" id="jbsApp">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Jucce Finance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS Files -->
  <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="./node_modules/glyphicons-only-bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./app/config/css/menu.css" rel="stylesheet">
  <link href="./app/config/datepicker/css/bootstrap-datepicker.css" rel="stylesheet">
  <link href="./node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="./node_modules/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  <link href="./node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">

  <link href="./app/config/css/form.css" rel="stylesheet">
  <link rel="stylesheet" href="./app/config/css/select2.min.css" />
</head>

<body class="body background-image" id="mainbody">
  <div id="mainview">
    <div id="sideNav" class="col-md-2">
      <div id="menuItems" class="sidenav">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#!dashboard" id="mainDashboardBtn">
          <image alt="J" src="./app/config/images/JBS_Iogo.png" style="height:70px; width:150px;"></span>
        </a>
        <a id="DashboardMenu" href="#!dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
        <button id="SalesMenu" class="dropdown-btn dropdown"><span class="glyphicon glyphicon-usd"></span> Sales
          <span class="glyphicon glyphicon-chevron-down downarrow"></span>
        </button>
        <div class="dropdown-container">
          <a href="#!invoices">Invoices</a>
          <a href="#!customers">Customers</a>
          <a href="#!productsandservices">Products & Services</a>
          <a href="#!salestax">Sales Tax</a>
        </div>

        <button id="PurchasesMenu" class="dropdown-btn dropdown"><span class="glyphicon glyphicon-shopping-cart"></span>
          Purchases
          <span class="glyphicon glyphicon-chevron-down downarrow"></span>
        </button>
        <div class="dropdown-container">
          <a href="#!expenses">Expenses</a>
          <a href="#!suppliers">Suppliers</a>
          <a href="#!productsandservices">Products & Services</a>
        </div>

        <button id="ReportsMenu" class="dropdown-btn dropdown"><span class="glyphicon glyphicon-file"></span> Reports
          <span class="glyphicon glyphicon-chevron-down downarrow"></span>
        </button>
        <div class="dropdown-container">
          <a href="#!profitandloss">Profit & Loss</a>
          <a href="#!CustomerStatements">Customer Statements</a>
          <!-- <a href="#">Sales Tax</a> -->
        </div>

        <button id="AccountingMenu" class="dropdown-btn dropdown"><svg width="1em" height="1em" viewBox="0 0 16 16"
            class="bi bi-calculator-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2 .5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zM4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM4 12.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zM7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM7 9.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM10 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5h-1z" />
          </svg> Accounting
          <span class="glyphicon glyphicon-chevron-down downarrow"></span>
        </button>
        <div class="dropdown-container">
          <a href="#!chartofaccounts">Chart Of Accouts</a>
          <a href="#!transactions">Transactions</a>
        </div>
        <a id="SettingsMenu" href="#!applicationsettings"><span class="glyphicon glyphicon-cog"></span> Settings</a>
        <a id="LogoutBtn" href="#!login"><span class="glyphicon glyphicon-off"></span> Logout</a>

        <div class="version text-white text-small">
          <label class="text-medium">{{appVersion}}</label>
          <div><label class="text-small">Powered by Jucce Industries</label></div>
        </div>
      </div>
    </div>
    <div id="main" class="main col-md-10 col-md-offset-2">
      <div id="subscriptionAlert" style="text-align: center; display:none;" class="alert alert-danger">Subscription Has
        Expired, Kindly renew it!
      </div>
      <div id="mainview" ng-view></div>
    </div>
  </div>
  <div id="loading" style="display: none; z-index:-1;" class="loading-center">
    <div class="container col-lg-2 offset-lg-5" style="margin-top: 35%;">
      <div id="JucceLloading">
        <div class="loadingio-spinner-eclipse-breap9yjcq6">
          <div class="ldio-gipvt4hzaq">
            <div>
            </div>
            <image alt="J" src="./app/config/images/JF_Iogo.png"
              style="height:70px; width:150px; align-content: center; margin-top: 88px;height:70px;width:150px;align-content: center;margin-left: 45px;">
            </image>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="version text-white text-medium">
    <label class="text-medium">{{appVersion}}</label>
    <div><label class="text-small">Powered by Jucce Industries</label></div>
  </div>
</body>

<!-- JavaScript Files-->
<!-- Placed at the end of the document so the pages load faster -->
<script>
  window.$ = window.jQuery = require("jquery");
  window.jsPDF = require("jspdf");
  window.html2canvas = require("html2canvas");
  $('#menuItems').hide();
</script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="./node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="./node_modules/angular/angular.min.js"></script>
<script src="./node_modules/jquery-mask-plugin/src/jquery.mask.js"></script>
<script src="./node_modules/angular-route/angular-route.min.js"></script>
<script src="./node_modules/jspdf/dist/jspdf.min.js"></script>
<script src="./node_modules/jspdf-autotable/dist/jspdf.plugin.autotable.min.js"></script>
<script src="./node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="./node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="./node_modules/lodash/lodash.min.js"></script>
<script src="./node_modules/moment/moment.js"></script>
<script src="./app/config/js/form.js"></script>
<script src="./app/app.js"></script>
<script src="./app/config/js/menu.js"></script>
<script src="./app/config/js/select2.min.js"></script>
<script src="./node_modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script type="text/javascript" src="./node_modules/chart.js/dist/Chart.js"></script>
<script type="text/javascript" src="./node_modules/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

<!--Declare all the application's controllers here-->
<script src="./app/controllers/MainDashboard.js"></script>
<script src="./app/controllers/InvoicesDashboard.js"></script>
<script src="./app/controllers/Invoice.js"></script>
<script src="./app/controllers/ApplicationSettings.js"></script>
<script src="./app/controllers/SalesTax.js"></script>
<script src="./app/controllers/ProductsAndServices.js"></script>
<script src="./app/controllers/Customers.js"></script>
<script src="./app/controllers/Suppliers.js"></script>
<script src="./app/controllers/Expense.js"></script>
<script src="./app/controllers/ExpensesDashboard.js"></script>
<script src="./app/controllers/ProfitAndLoss.js"></script>
<script src="./app/controllers/ChartOfAccounts.js"></script>
<script src="./app/controllers/Transactions.js"></script>
<script src="./app/controllers/CustomerStatements.js"></script>
<script src="./app/controllers/Login.js"></script>
<script src="./app/controllers/ResetPassword.js"></script>

</html>