/*-------Dashboard title---------*/
.title-label{
    float: left;
    margin-right: 20px
}

.title-label label{

    color: 	#014b75;
    font-size: 50px !important;    
}

.table-title-label{

    color: 	#014b75;
    font-size: 30px !important;
}

.form-title-label{

    color: 	#014b75;
    font-size: 30px !important;
}

.main-button{
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 15px;
    border-width: 2.4px;
    border-color: #014b75;
    padding: 10px;
    margin-right: -15px;
    margin-left: -15px;
    color: 	#014b75;
}

.main-button-blue{
    border-color: #014b75 !important;
    color: #17a2b8 !important;
}

.main-button-yellow{
    border-color: #014b75!important;
    color: #ffc107!important;
}

.main-button:hover,.main-button:focus, .main-button:visited, .main-button:link, .main-button:active{  
    color: #014b75;   
}

.settings-button{
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 15px;
    border-width: 2.4px;
    border-color: #014b75;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    color: 	#014b75;
    text-align: left;
}
.settings-button:hover,.settings-button:focus, .settings-button:visited, .settings-button:link, .settings-button:active{  
    color: #014b75;   
}

.add-person-button{
    display: block;
  margin-left: auto;
  margin-right: auto;
    padding: 10px;
    
}

.add-person-button svg{
    color: darkgrey;
    width:100px !important;
    height:100px!important;
}




/*----------------------------------*/

/*--------Dashboard Styles--------------*/
.Dashboard-Counter{

    font-weight: 600;
    font-size: 150% !important; 
    text-align: center;
    margin-bottom: 0;
}

.Dashboard-Amount{

    font-weight: 300;
    font-size: 30px !important; 
    text-align: center;
    margin-bottom: 0;
}

.Counters{
    width: 20%;
    text-align: center; 
}

.MainDashbord-Counters{
    width: 25%;
    text-align: center; 
}

.PandL{
    width: 20%;
    text-align: center;    
}

.PandL-sign{
    width: 5%;
    text-align: center;    
}


.BorderRight{
    border-right: solid;
    border-color: rgb(216, 216, 216);
    border-width: thin;
}
.DashboardButton {
    margin-left: 1%;    
}

.DashboardButton-row{
    margin-left: 60px;    
}

.DashboardButton span{
    font-size: 30px;
    padding-left: 5px;    
}

.DashboardButton svg{
    width: 50px;
    height: 50px;    
}

.select2-selection__rendered {
    line-height: 34px !important;
    min-width: 260px !important;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}
    
    .select2-selection {
    height: 38px !important;
    min-width: 260px !important;
    }

/*------------------------------------------*/

#print_InvoiceCustomerInfo{
    padding: 0;    
}

#print_InvoiceCustomerInfo td{
    padding: 0;  
    padding-left: 5px;
    margin: 0;  
}


/*-----Text Styling----*/

.text-jucce-red{
    color: #ff0585;
}

.text-red{
    color:#ff0000;
    ;
}

.text-yellow{
    color: #ffc107;
}

.text-dark-blue{
    color:#014b75 ;
}

.text-blue{
    color:#17a2b8 !important;
}

.text-black{
    color: #000000;
}

.text-grey{
    color: #4a5057;
}

.text-green{
    color: #28a745;
}

.text-white{
    color: #ffffff;
}


.text-bold{
    font-weight: bold;
}


.text-left{
    text-align: left;
}


.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-small{
    font-size: 12px;
}

.text-medium{
    font-size: 15px;
}


.text-large{
    font-size: 18px;
}

.text-xlarge{
    font-size: 30px;
}

/*********Modal************/
.modal-big{
    width: 900px !important;
}

dropdown-text{
    font-size: 15px;
}
/*------------------*/

.btn-link {  
    color: #ffffff;  
    text-decoration: none;    
}
.btn-link-black {  
    color: #000000;  
    text-decoration: none;    
}
.btn-link:hover,.btn-link:focus, .btn-link:visited, .btn-link:link, .btn-link:active{  
    color: #ffffff;  
    text-decoration: none;    
}

.btn-margin {
    margin-left: 10px;
    margin-right:  10px;
}

.btn-fullwidth{
    width: 100% !important;
}


.lableRightAlign{
    display:block; 
    width:x;
    height:y;
    text-align:right;
    margin-right:5px;
    font-size: 15px;
}

.lableLeftAlign{
    display:block; 
    width:x;
    height:y;
    text-align:left;
    margin-right:5px;
    font-size: 15px;
}

.lableCenterAlign{
    display:block; 
    width:x;
    height:y;
    text-align:center;
    margin-right:5px;
    font-size: 15px;
}

.padded-label{
    padding-left: 30px;
}

/*Table Styling*/
.table-header{
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.table-rows{
    font-size: 15px;
    font-family: "Lato", sans-serif;
}

.tableLink {
    color: #000000;
    font-size: 15px 
}

.tableLink span {
    font-size: 15px 
}

/*Table Styling*/



.chart-text { position: absolute; padding-left: 25px; }
.charts{
    padding-bottom: 50px;
    margin-top: 5%;
}

.chart-title{
    text-align: center;
}

#chart { position: relative; }
.SearchPadding{
 margin: 5px; 
}

.PieChartDiv {
    max-width: 550px;
    max-height: 550px;
  }

.BarChartDiv {
    max-width: 800px;
    max-height: 600px;
}

.form-group .row label{
    font-size: 20px;
}

#BillCustomertxt h5{
    font-size: 20px;
}
#BillCustomertxt h6{
    font-size: 15px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.plainBackground{
    background-color: rgb(255, 255, 255); 
}

.greyBackground{
    background-color: rgb(177, 177, 177); 
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#customerRslt tr:hover{
    background: rgb(137, 204, 216);    
}

#ItemsRslt tbody tr:hover{
    background: rgb(137, 204, 216);    
}

.roundedBorder{
    padding: 10px;
    border: 0.5px solid rgb(24, 133, 241);
    border-radius: 5px;
}

#InvoiceItems 
{
    height: 800;
}

#InvoiceItems tbody{
    overflow-y: scroll;
    height: 400px;
    width: 100%;
}

.TableHover tbody tr:hover{
    background: rgb(217, 224, 226);    
}

/*Validation tootip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:white;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /* dropdown styling*/
   .jc-dropdown{
    padding-left: 10px;
    background: #dee2e6;
   }
  .jc-dropdown a:hover{
      color: #007bff;
  }

  .jc-dropdown a{
    color:black;
    ;
}

.jc-select{
    width:100%;
}

.error-field{
    font-style: italic;
    color: red;
    font-size: 12px; 
    display: none;
}

/*--------------------Div styling-----------------*/
.round-border{
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 15px;
    border-width: 2.4px;
    border-color: darkgray;
     padding: 10px;
}

.round-border-non-row{
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 15px;
    border-width: 2.4px;
    border-color: darkgray;
     padding: 10px;
    margin-right: -15px;
    margin-left: -15px;
}

.round-border-full-height{
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 15px;
    border-width: 2.4px;
    border-color: darkgray;
     padding: 10px;
     height: 100%;
}

.round-border-full-width{
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 15px;
    border-width: 2.4px;
    border-color: darkgray;
     padding: 10px;
     height: 100%;
}

.thinGreyBorder{
    border: solid;
    border-color: darkgray;
    border-width: thin;
    background-color: #ffffff;
}

.bottomDiv{
    position:fixed;
    background-color: rgb(226, 225, 225);
    bottom:0px;
    left:0px;
    right:0px;
    height:50px;
    margin-bottom:0px;
    padding-top: 10px;
    padding-right: 40px;
}

.version{
    position:fixed;
    bottom:0px;
    margin-left: 5px;
}


.padded-div{
    padding-left: 10%;
}

.padded-div-top{
    padding-top: 10px;
}

/*-------------------------------------------------*/

/*************Application Settings******************/
.settingsForm{
    margin-bottom: 60px;
    margin-left:5px;
    padding-left:50px;
    height: 95%;
}

.appSetUp{
    height: 500px;
}

.appSetUp-div{
    min-height: 500px;
    padding-top: 5%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.appResetPass-div{
    height: 550px;
    padding-top: 5%;
}

.settingsMenu{
    margin-bottom: 60px;
    height: 95%;
}

.settingsMenuButtons{
    margin-top: 20px;
    width: 70%;
}

.settingsMenuButtons button{
    width: 100%;
    text-align: left;
    height: 50px;
}

/*-----------------------Loading--------------------------*/
@keyframes ldio-gipvt4hzaq {
    0% {
      transform: rotate(0deg)
    }

    50% {
      transform: rotate(180deg)
    }

    100% {
      transform: rotate(360deg)
    }
  }

  .ldio-gipvt4hzaq div {
    position: absolute;
    animation: ldio-gipvt4hzaq 1s linear infinite;
    width: 192.8px;
    height: 192.8px;
    top: 24.1px;
    left: 24.1px;
    border-radius: 50%;
    box-shadow: 0 2.892000000000001px 0 0 #ff0585;
    transform-origin: 96.4px 97.846px;
  }

  .loadingio-spinner-eclipse-breap9yjcq6 {
    width: 241px;
    height: 241px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }

  .ldio-gipvt4hzaq {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }

  .ldio-gipvt4hzaq div {
    box-sizing: content-box;
  }

  .center {
    display: block;
    margin: auto;
  }

  .login-center{
    display: block;
    width: 80%;
    height: 100%; 
    margin-right: auto;
    padding-left: 10%;
  }

  .login{
    margin-top: 5%;
  }

  .login-logo{
    margin-top: 20%;
  }
  .login-details{
      max-width: 600px;
  }

  .setup-details{
    max-width: 800px;
}

  .login-btn{
    margin-top: 10px;
    width: 100px;
  }

  .login-lable-div{
    width:160px;
  }

  .resetpass-lable-div{
    width:90px;
  }

  .login-field-div{
    width:400px;
  }

  .background-image{
     /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
  }

  .infoIcon{
      padding-left: 3px;
      color: darkgrey;
      font-size: 18px;
      padding-top: 10px;

  }

  .infoIconNoPadding{
    padding-left: 5px;
    color: darkgrey;
    font-size: 18px;
    padding-top: 0px;

}

  .standardDivFont{
    font-size: medium;
    color: black;
  }

  .invoicePreview{
    min-height: 1024px;
    border-radius: 1px;
    border-style: groove;
    position: absolute;
    max-width: 840px;
    min-width: 835px;
  }