body {
    font-family: "Lato", sans-serif;    
    width: 100%;
}

/* Fixed sidenav, full height */
.sidenav {
    max-width: 210px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(1, 75, 117);
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ecfefe;
    display: block;
    border: none;
    background: none;
    width: 220px;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    
}

@media (min-width: 992px) {
    .sidenav {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1000;
      display: block;
    }

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #bbbbbb;
}

/* Main content */
.main {
    margin-left: 245px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding-right: 20px;
    
}

/* Add an active class to the active dropdown button */
.active {
    background-color: rgb(1, 75, 117);
    color: rgb(143, 139, 139);
    
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: rgb(1, 105, 165);
    padding-left: 8px;

    
}

.downarrow{
    font-size: 20px;
    margin-right: 40px;
    float: right;
}

.dropdown-btn:focus, .dropdown-btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

.dropdown-container a {
font-size: 15px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
}

.center {
    margin: auto;
    width: 50%;
    height: 100%;
    
  }

  .loading-center {
    margin: auto;
    width: 50%;
    height: 100%;
  }