
<h2 style="text-align: center;"><b>DISCLAIMER</b></h2>
<p>Last updated: 2021-05-17</p>
<p><b>APPLICATION DISCLAIMER</b></p>
<p>The information provided by <b>Jucce Industries</b> (“Company”, “we”, “our”, “us”) on <b>juccetech.com/juccefinance</b> (the “Site”) is for general informational purposes only. All information on the Site is provided in good faith, however we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability, or completeness of any information on the Site.</p>
<p>UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF THE APPLICATION OR RELIANCE ON ANY INFORMATION PROVIDED ON THE APPLICATION. YOUR USE OF THE APPLICATION AND YOUR RELIANCE ON ANY INFORMATION ON THE APPLICATION IS SOLELY AT YOUR OWN RISK.</p>
<p><b>EXTERNAL LINKS DISCLAIMER</b></p>
<p>The Site may contain (or you may be sent through the Site) links to other websites or content belonging to or originating from third parties or links to websites and features. Such external links are not investigated, monitored, or checked for accuracy, adequacy, validity, reliability, availability or completeness by us.</p>
<p>For example, the outlined <a href="https://policymaker.io/disclaimer/">Disclaimer</a> has been created using <a href="https://policymaker.io/">PolicyMaker.io</a>, a free web application for generating high-quality legal documents. PolicyMaker’s <a href="https://policymaker.io/disclaimer/">disclaimer generator</a> is an easy-to-use tool for creating an excellent sample Disclaimer template for a website, blog, eCommerce store or app.</p>
<p>WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY INFORMATION OFFERED BY THIRD-PARTY APPLICATIONS LINKED THROUGH THE APPLICATION OR ANY APPLICATION OR FEATURE LINKED IN ANY BANNER OR OTHER ADVERTISING. WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.</p>
<p><b>PROFESSIONAL DISCLAIMER</b></p><p>The Site can not and does not contain financial advice. The information is provided for general informational and educational purposes only and is not a substitute for professional financial advice. Accordingly, before taking any actions based upon such information, we encourage you to consult with the appropriate professionals. We do not provide any kind of financial advice.</p> <p>Content published on juccetech.com/juccefinance is intended to be used and must be used for informational purposes only. It is very important to do your own analysis before making any decision based on your own personal circumstances. You should take independent financial advice from a professional or independently research and verify any information that you find on our Website and wish to rely upon. </p><p>THE USE OR RELIANCE OF ANY INFORMATION CONTAINED ON THIS APPLICATION IS SOLELY AT YOUR OWN RISK.</p>


<p><b>ERRORS AND OMISSIONS DISCLAIMER</b></p>
<p>While we have made every attempt to ensure that the information contained in this site has been obtained from reliable sources, Jucce Industries is not responsible for any errors or omissions or for the results obtained from the use of this information. All information in this site is provided “as is”, with no guarantee of completeness, accuracy, timeliness or of the results obtained from the use of this information, and without warranty of any kind, express or implied, including, but not limited to warranties of performance, merchantability, and fitness for a particular purpose.</p> <p>In no event will Jucce Industries, its related partnerships or corporations, or the partners, agents or employees thereof be liable to you or anyone else for any decision made or action taken in reliance on the information in this Site or for any consequential, special or similar damages, even if advised of the possibility of such damages.</p>

<p><b>LOGOS AND TRADEMARKS DISCLAIMER</b></p>
<p>All logos and trademarks of third parties referenced on juccetech.com/juccefinance are the trademarks and logos of their respective owners. Any inclusion of such trademarks or logos does not imply or constitute any approval, endorsement or sponsorship of Jucce Industries by such owners.</p>
<p><b>CONTACT US</b></p>
<p>Should you have any feedback, comments, requests for technical support or other inquiries, please contact us by email: <b>support@juccetech.com</b>.</p>
<p style="margin-top: 5em; font-size: 0.7em;">This <a href="https://policymaker.io/disclaimer/">Disclaimer</a> was created for <b>juccetech.com/juccefinance</b> by <a href="https://policymaker.io">PolicyMaker.io</a> on 2021-05-17.</p>
