<form ng-app="jbsApp" ng-controller="AppSettingsRouteController" class="form-horizontal needs-validation" novalidate>

    <div id="appSettings" class="container-fluid">
        <div id="Alert" class="alert alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span id="message"></span>
        </div>

        <div class="form-group row round-border">
            <div class="title-label">
                <label>Application settings</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <div class="round-border-non-row settingsMenu">
                    <div class="DashboardButton">
                        <button id="AddUserBtn" type="button" class="btn btn-outline settings-button col-md-9"
                            ng-click="CompanySettingsOnclick()"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                class="bi bi-cart-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                                <path
                                    d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                            </svg>
                            <span>Company Settings</span>
                        </button>
                    </div>
                    <div class="DashboardButton">
                        <button id="AddUserBtn" type="button" class="btn btn-outline settings-button col-md-9"
                            ng-click="FinancialSettingsOnclick()"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                <path
                                    d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                            </svg><span>Financial Settings</span>
                        </button>
                    </div>
                    <div class="DashboardButton">
                        <button id="AddUserBtn" type="button" class="btn btn-outline settings-button col-md-9"
                            ng-click="UserSettingsOnclick()"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                class="bi bi-cart-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                            </svg>
                            <span>User Settings</span>
                        </button>
                    </div>
                    <div class="DashboardButton">
                        <button id="AddUserBtn" type="button" class="btn btn-outline settings-button col-md-9"
                            ng-click="MySettingsOnclick()"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                class="bi bi-cart-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                            <span>My Account</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="round-border-non-row settingsForm">
                    <div id="CompanySettings">
                        <label class="text-xlarge">Company Settings</label>
                        <!-- Logo -->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="logoContainer">Logo</label>
                            <div class="col-md-3" id="logoContainer">
                                <canvas id="CompanyLogo" style="height: 100px; width: 200px;"></canvas>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="Logo"></label>
                            <div class="col-md-3 ">
                                <button id="filePicker" ng-click="pickFile()" class="btn btn-info">Choose Logo</button>
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="AccentColor">Accent Color</label>
                            <div class="col-md-3">
                                <input id="AccentColor" name="textinput" type="text" placeholder=""
                                    class="form-control input-md" ng-model="Settings.AccentColor" required>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="textinput">Company Name</label>
                            <div class="col-md-6">
                                <input id="CompanyName" name="textinput" type="text" placeholder=""
                                    class="form-control input-md" ng-model="Settings.CompanyName" required>
                                <small id="CompanyName_error" class="form-text error-field"></small>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="AddressLine1">Address Line 1</label>
                            <div class="col-md-6">
                                <input id="AddressLine1" name="AddressLine1" type="text" placeholder=""
                                    class="form-control input-md" ng-model="Settings.AddressLine1" required="">
                                <small id="AddressLine1_error" class="form-text error-field"></small>

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="AddressLine2">Address Line 2</label>
                            <div class="col-md-6">
                                <input id="AddressLine2" name="AddressLine2" type="text" placeholder=""
                                    class="form-control input-md" ng-model="Settings.AddressLine2" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="City">City</label>
                            <div class="col-md-6">
                                <input id="City" name="City" type="text" placeholder="" class="form-control input-md"
                                    required="" ng-model="Settings.City">
                                <small id="City_error" class="form-text error-field"></small>

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="Country">Country</label>
                            <div class="col-md-6">
                                <select id="Country" name="Country" class="form-control" ng-model="Settings.Country">
                                    <option ng-repeat="country in Countries" value="{{country.Country}}">
                                        {{country.Country}}
                                    </option>
                                </select>
                                <small id="Country_error" class="form-text error-field"></small>

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="ZipCode">Postal/Zip Code</label>
                            <div class="col-md-4">
                                <input id="ZipCode" name="ZipCode" type="text" placeholder=""
                                    class="form-control input-md" ng-model="Settings.ZipCode">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="Phone">Phone</label>
                            <div class="col-md-6">
                                <input id="Phone" name="Phone" type="text" placeholder="" class="form-control input-md"
                                    required="" ng-model="Settings.Phone">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="Fax">Fax</label>
                            <div class="col-md-6">
                                <input id="Fax" name="Fax" type="text" placeholder="" class="form-control input-md"
                                    ng-model="Settings.Fax">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="Email">Email</label>
                            <div class="col-md-6">
                                <input id="Email" name="Email" type="text" placeholder="" class="form-control input-md"
                                    ng-model="Settings.Email">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="Website">Website</label>
                            <div class="col-md-6">
                                <input id="Website" name="Website" type="text" placeholder=""
                                    class="form-control input-md" ng-model="Settings.Website">

                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="ApplicationID">Application ID</label>
                            <div class="col-md-6">
                                <input id="ApplicationID" name="ApplicationID" type="text" placeholder=""
                                    class="form-control input-md" ng-model="Settings.ApplicationID" readonly>
                            </div>

                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="ApplicationKey">Application Key</label>
                            <div class="col-md-5">
                                <input id="ApplicationKey" name="ApplicationKey" type="text" placeholder=""
                                    class="form-control input-md" ng-model="Settings.ApplicationKey">
                                <small id="ApplicationKey_error" class="form-text error-field"></small>
                            </div>
                            <div class="col-md-1"><button id="Apply" class="btn btn-info"
                                    ng-click="validatekey()">Apply</button></div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="DisplayExpiryDate">Expiry Date</label>
                            <div class="col-md-6">
                                <input id="DisplayExpiryDate" name="DisplayExpiryDate" type="text" placeholder=""
                                    class="form-control input-md" ng-model="Settings.DisplayExpiryDate" readonly>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row" style="display: none;">
                            <label class="col-md-3 control-label" for="ExpiryDate">Expiry Date</label>
                            <div class="col-md-6">
                                <input id="ExpiryDate" name="ExpiryDate" type="text" placeholder=""
                                    class="form-control input-md" ng-model="Settings.ExpiryDate" readonly>

                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group" style="display: none;">
                            <div class="col-md-6">
                                <input id="SettingsID" type="text" class="form-control input-md"
                                    ng-model="Settings.UniqueID">
                            </div>
                        </div>



                    </div>
                    <div id="FinancialSettings">
                        <label class="text-xlarge">Financial Settings</label>
                        <!-- Select Basic -->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="Currency">Currency</label>
                            <div class="col-md-6">
                                <select id="Currency" name="Currency" class="form-control" ng-model="Settings.Currency">
                                    <option ng-repeat="currency in Currencies" value="{{currency.ISO}}">{{currency.ISO}}
                                        ({{currency.Symbol}}) - {{currency.Currency}}</option>
                                </select>
                                <small id="Currency_error" class="form-text error-field"></small>
                            </div>
                        </div>

                        <!-- Text input-
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="DailyExchangeRate">Enable Daily Exchange Rate</label>
                            <div class="col-md-1">
                                <input type="checkbox" name="DailyExchangeRate" id="DailyExchangeRate"
                                    ng-model="Settings.EnableDailyExchangeRate"
                                    value="Settings.EnableDailyExchangeRate" />
                            </div>
                        </div>
                        -->

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="DisplayExchangeRate">Show Exchange Rate on
                                Invoice</label>
                            <div class="col-md-1">
                                <div class="input-group mb-3">
                                    <input type="checkbox" name="DisplayExchangeRate" id="DisplayExchangeRate"
                                        style="height: 20px; width: 20px;" ng-model="Settings.DisplayExchangeRate"
                                        value="Settings.DisplayExchangeRate" />
                                    <span tabindex="0" data-toggle="popover" data-trigger="focus"
                                        title="Display Exchange Rate"
                                        data-content="Enable this, if you want to display the exchange rate on the invoice. the exchange rate will appear on both the Invoice Preview and PDF."
                                        class="infoIconNoPadding input-group-append glyphicon glyphicon-question-sign"
                                        aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>

                        <!--
                            <div class="form-group row">
                            <label class="col-md-3 control-label" for="EnableLatePayment">Enable Late Payment
                                Fees</label>
                            <div class="col-md-1">
                                <div class="input-group mb-3">
                                    <input type="checkbox" name="EnableLatePayment" id="EnableLatePayment"
                                        style="height: 20px; width: 20px;" ng-model="Settings.EnableLatePayment"
                                        value="Settings.EnableLatePayment" />
                                    <span tabindex="0" data-toggle="popover" data-trigger="focus"
                                        title="Display Exchange Rate"
                                        data-content="Enable this for late payment fees to be calculated for Invoices and Expenses."
                                        class="infoIconNoPadding input-group-append glyphicon glyphicon-question-sign"
                                        aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        -->
                        

                        <div class="form-group row">
                            <label class="col-md-3 control-label" for="DefaultPaymentTerm">Default Payment Term</label>
                            <div class="col-md-6">
                                <select id="DefaultPaymentTerm" name="DefaultPaymentTerm" class="form-control" ng-model="Settings.DefaultPaymentTerm">
                                    <option ng-repeat="PaymentTerm in PaymentTermsList" value="{{PaymentTerm.UniqueID}}">{{PaymentTerm.PaymentTerm}}</option>
                                </select>
                                <small id="DefaultPaymentTerm_error" class="form-text error-field"></small>
                            </div>
                        </div>

                        <div id="LatePaymentSettings">
                            <div id="PaymentTermSettings">
                                <label class="text-xlarge">Payment Term Settings</label>
                                <div id="displayPaymentTerms" class="form-group">
                                    <table class="table table-striped" id="PaymentTermsTable">
                                        <thead>
                                            <tr class="table-header">
                                                <td>Payment Term</td>
                                                <td>Description</td>
                                                <td>Payment Period</td>
                                                <td>Late Payment Rate</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="PaymentTerms in PaymentTermsList">
                                                <td>{{PaymentTerms.PaymentTerm}}</td>
                                                <td>{{PaymentTerms.Description}}</td>
                                                <td>{{PaymentTerms.PaymentPeriod}}</td>
                                                <td>{{PaymentTerms.LatePaymentRate}}</td>
                                                <td>
                                                    <div><button type="button" id="edit_{{PaymentTerms.UniqueID}}"
                                                            style="margin-right:10px;"
                                                            class="btn btn-outline-info"><span
                                                                class="glyphicon glyphicon-pencil"></span></button>
                                                        <button type="button" id="delete_{{PaymentTerms.UniqueID}}"
                                                            class="btn btn-outline-danger"><span
                                                                class="glyphicon glyphicon-trash"></span></button>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="!PaymentTermsList[0]" class="text-center">
                                    <label>No Payment Terms Defined!</label>
                                </div>
                                <div>
                                    <button id="AddPaymentTermBtn" type="button" class="btn btn-outline-primary"
                                        data-toggle="modal" data-target="#PaymentTermModal"
                                        ng-click="AddPaymentTerm()"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                            class="bi bi-cart-plus" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                        </svg>
                                        <span>Add Payment Term</span></button>

                                </div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div id="DailyExchangePane" ng-show="Settings.EnableDailyExchangeRate">
                            <div class="form-group row" id="div_ExchangeRate">
                                <label class="col-md-3 control-label" for="ExchangeRate"
                                    id="label_ExchangeRate">Exchange
                                    Rate</label>
                                <div class="col-md-6">
                                    <input id="ExchangeRate" name="ExchangeRate" type="number" placeholder=""
                                        ng-model="Settings.DailyExchangeRate" class="form-control input-md">
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group row" id="div_ReferenceCurrency">
                                <label class="col-md-3 control-label" for="ReferenceCurrency"
                                    id="label_ReferenceCurrency">Reference
                                    Currency</label>
                                <div class="col-md-6">
                                    <select id="ReferenceCurrency" name="ReferenceCurrency" class="form-control"
                                        ng-model="Settings.ReferenceCurrency">
                                        <option ng-repeat="currency in Currencies " value="{{currency.ISO}}">
                                            {{currency.ISO}}
                                            ({{currency.Symbol}}) - {{currency.Currency}}</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="UserSettings">
                        <label class="text-xlarge">User Settings</label>
                        <div id="displayUsers" class="form-group">
                            <table class="table table-striped" id="UsersTable">
                                <thead>
                                    <tr class="table-header">
                                        <td>Name</td>
                                        <td>Job Title</td>
                                        <td>Profile</td>
                                        <td>Actions</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in UsersList">
                                        <td>{{user.Name}}</td>
                                        <td>{{user.JobTitle}}</td>
                                        <td>{{user.ProfileName}}</td>
                                        <td>
                                            <div><button type="button" id="edit_{{user.UniqueID}}"
                                                    style="margin-right:10px;" class="btn btn-outline-info"><span
                                                        class="glyphicon glyphicon-pencil"></span></button>
                                                <button type="button" id="delete_{{user.UniqueID}}"
                                                    class="btn btn-outline-danger"><span
                                                        class="glyphicon glyphicon-trash"></span></button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div>
                            <button id="AddUserBtn" type="button" class="btn btn-outline-primary" data-toggle="modal"
                                data-target="#UserModal" ng-click="AddUser()"><svg width="1em" height="1em"
                                    viewBox="0 0 16 16" class="bi bi-cart-plus" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                </svg>
                                <span>Add User</span></button>

                        </div>
                    </div>
                    <div id="buttons" class="form-group bottomDiv">
                        <div class="row float-right">
                            <a href="#!dashboard" role="button" id="Cancel" class="btn btn-secondary"
                                style="margin-right: 10px;">Cancel</a>
                            <button id="Save" class="btn btn-info" ng-click="Save()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Payment Terms-->
    <div class="modal fade" id="PaymentTermModal" tabindex="-1" role="dialog" aria-labelledby="PaymentTermModalTitle"
        aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="PaymentTermModalLongTitle">Payment Terms</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="PaymentTermsDiv" class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="PaymentTerm" class="col-md-4 control-label">Payment Term</label>
                                <div class="input-group col-md-8">
                                    <input class="form-control" type="text" id="PaymentTerm"
                                        ng-model="NewPaymentTerm.PaymentTerm" placeholder="Payment Term">
                                    <small id="PaymentTerm_error" class="form-text error-field"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="PaymentTermDescription" class="col-md-4 control-label">Description</label>

                                <div class="input-group col-md-8">
                                    <input class="form-control" type="text" id="PaymentTermDescription"
                                        ng-model="NewPaymentTerm.Description" placeholder="Description">
                                    <small id="PaymentTermDescription_error" class="form-text error-field"></small>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group row">
                                <label class="col-md-4 control-label" for="PaymentPeriod">Payment
                                    Period</label>
                                <div class="input-group col-md-8">
                                    <input id="PaymentPeriod" name="PaymentPeriod" type="number" step="1"
                                        placeholder="0" class="form-control input-md" required=""
                                        ng-model="NewPaymentTerm.PaymentPeriod">
                                    <div class="input-group-append">
                                        <div class="input-group-text">days</div>
                                    </div>
                                    <small id="PaymentPeriod_error" class="form-text error-field"></small>

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group row">
                                <label class="col-md-4 control-label" for="LatePaymentRate">Late Payment
                                    Rate</label>
                                <div class="input-group col-md-8">
                                    <input id="LatePaymentRate" name="LatePaymentRate" type="number" step="1"
                                        placeholder="0" class="form-control input-md" required=""
                                        ng-model="NewPaymentTerm.LatePaymentRate">
                                    <div class="input-group-append">
                                        <div class="input-group-text"> % </div>
                                    </div>
                                    <small id="LatePaymentRate_error" class="form-text error-field"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button id="SavePaymentTerm" class="btn btn-primary btn-tab-next" ng-click="SavePaymentTerm()"
                            ng-show="!NewPaymentTerm.UniqueID">Save</button>
                        <button id="UpdateUser" class="btn btn-success btn-tab-next" ng-click="UpdatePaymentTerm()"
                            ng-show="NewPaymentTerm.UniqueID">Update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="ClosePaymentTermModal"
                            ng-click="ClosePaymentTermModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="UserModalTitle"
        aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="UserModalLongTitle">{{UserTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="Users" class="row">
                        <div class="col-md-7">

                            <label class="text-large">User Details</label>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="Name" class="col-form-label lableRightAlign">Name</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control" type="text" id="Name" ng-model="NewUser.Name"
                                        placeholder="Full Name">
                                    <small id="Name_error" class="form-text error-field"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="Username" class="col-form-label lableRightAlign">Username</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control" type="text" id="Username" ng-model="NewUser.Username"
                                        placeholder="Username" ng-readonly="NewUser._id != null">
                                    <small id="Username_error" class="form-text error-field"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="Email" class="col-form-label lableRightAlign">Email
                                        Address</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control" type="text" id="UserEmail" ng-model="NewUser.Email"
                                        placeholder="Email Address">
                                    <small id="UserEmail_error" class="form-text error-field"></small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="JobTitle" class="col-form-label lableRightAlign">JobTitle</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control" type="text" id="JobTitle" ng-model="NewUser.JobTitle"
                                        placeholder="Job Title">
                                    <small id="JobTitle_error" class="form-text error-field"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="Profile" class="col-form-label lableRightAlign">Profile</label>
                                </div>
                                <div style="width:260px;">
                                    <select ng-model="NewUser.ProfileName" ng-change="ProfileOnChange()" id="Profile"
                                        class="form-control">
                                        <option ng-repeat="(key,profile) in Profiles" ng-value="profile.Name">
                                            {{profile.Name}}</option>
                                    </select>
                                    <small id="Profile_error" class="form-text error-field"></small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="Password" class="col-form-label lableRightAlign">Password</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control" type="password" id="Password"
                                        ng-model="NewUser.Password">
                                    <small id="Password_error" class="form-text error-field"></small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="ConfirmPassword" class="col-form-label lableRightAlign">Confirm
                                        Password</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control" type="password" id="ConfirmPassword"
                                        ng-model="NewUser.ConfirmPassword">
                                    <small id="ConfirmPassword_error" class="form-text error-field">Enter
                                        Matching
                                        Password!</small>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label class="col-form-label lableRightAlign" for="Question1">Security
                                        Question
                                        1</label>
                                </div>
                                <div style="width:260px;">
                                    <select id="Question1" name="Question1" class="form-control"
                                        ng-model="NewUser.Question1" ng-change="QuestionOnChange()">
                                        <option ng-repeat="question in SecurityQuestions" value="{{question}}">
                                            {{question}}
                                        </option>
                                    </select>
                                    <small class="form-text text-small">{{NewUser.Question1}}</small>
                                    <small id="Question1_error" class="form-text error-field"></small>

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label class="col-form-label lableRightAlign" for="Answer1">Answer 1</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control" type="text" id="Answer1" ng-model="NewUser.Answer1"
                                        placeholder="Answer 1">
                                    <small id="Answer1_error" class="form-text error-field"></small>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label class="col-form-label lableRightAlign" for="Question2">Security
                                        Question
                                        2</label>
                                </div>
                                <div style="width:260px;">
                                    <select id="Question2" name="Question2" class="form-control"
                                        ng-model="NewUser.Question2" ng-change="QuestionOnChange()">
                                        <option ng-repeat="question in SecurityQuestions" value="{{question}}">
                                            {{question}}
                                        </option>
                                    </select>
                                    <small class="form-text text-small">{{NewUser.Question2}}</small>
                                    <small id="Question2_error" class="form-text error-field"></small>

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label class="col-form-label lableRightAlign" for="Answer2">Answer 2</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control" type="text" id="Answer2" ng-model="NewUser.Answer2"
                                        placeholder="Answer 2">
                                    <small id="Answer2_error" class="form-text error-field"></small>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-5">
                            <label class="text-large">Profile Details</label>
                            <label class="text-small">{{NewUser.Profile.Description}}</label>
                            <div>
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr class="text-medium" ng-repeat="right in NewUser.Profile.PermissionsDetails">
                                            <td>{{right[0]}}</td>
                                            <td>{{right[1]}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button id="SaveUser" class="btn btn-primary btn-tab-next" ng-click="SaveUser()"
                            ng-show="!NewUser.UniqueID">Save</button>
                        <button id="UpdateUser" class="btn btn-success btn-tab-next" ng-click="UpdateUser()"
                            ng-show="NewUser.UniqueID">Update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="CloseUserModal2"
                            ng-click="CloseUserModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: delete User -->
    <div class="modal fade" id="DeleteUser" tabindex="-1" role="dialog" aria-labelledby="DeleteUserLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteUserLabel">Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete:<span> {{DeleteUser.Name}}</span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="deleteBtn" type="button" class="btn btn-danger" ng-click="RemoveUser()">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: delete Payment Term -->
    <div class="modal fade" id="DeletePaymentTerm" tabindex="-1" role="dialog" aria-labelledby="DeletePaymentTermLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeletePaymentTermLabel">Delete Payment Term</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete:<span> {{DeletePaymentTerm.PaymentTerm}}</span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="deleteBtn" type="button" class="btn btn-danger" ng-click="RemovePaymentTerm()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>