<form role="form" name="ChartOfAccounts" novalidate>
    <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span id="message"></span>
    </div>
    <div class="modal-body">
        <div id="displayAccount" class="container-fluid">
            <div class="form-group row round-border">
                <div class="title-label">
                    <label>Chart Of Accounts</label>
                </div>                
            </div>
            <div id="displayAccount" class="form-group round-border-non-row">
                <div class="row form-group DashboardButton">
                    <label class="text-xlarge">My Accounts</label>
                </div>
                <div class="row form-group DashboardButton">
                    
                    <button id="AddCustomerBtn" type="button" class="btn btn-outline main-button" data-toggle="modal"
                        data-target="#AccountModal" ng-click="AddAccount()">
                        <div>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-check"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                            <path fill-rule="evenodd"
                                d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm4.354 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                        </svg>
                            <span>Add A New Account</span>
                    </button>
                </div>
                <div>
                <table class="table table-striped" style="width:100%" id="AccountsTable">
                    <thead>
                        <tr class="table-header" style="width:100%">
                            <td>Account Name</td>
                            <td>Account Group</td>
                            <td>Account Type</td>
                            <td>Currency</td>
                            <td>Description</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                </div>
            </div>
            <i class="modal-footer">
            </i>
        </div>
    </div>

    <div class="modal-body">
        <div id="displayAccount" class="container-fluid">            
            <div id="displayAccount" class="form-group round-border-non-row">
                <div class="row form-group DashboardButton">
                    <label class="text-xlarge">Default Accounts</label>
                </div>
                <div>
                <table class="table table-striped" style="width:100%" id="DefaultAccountsTable">
                    <thead>
                        <tr class="table-header" style="width:100%">
                            <td>Account Name</td>
                            <td>Account Group</td>
                            <td>Account Type</td>
                            <td>Currency</td>
                            <td>Description</td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                </div>
            </div>
            <i class="modal-footer">
            </i>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade " id="AccountModal" tabindex="-1" role="dialog" aria-labelledby="AccountModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AccountModalLongTitle"> Add An Accounts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="Account">
                        <div class="">
                            <div class="form-group row">
                                <div style="width:260px;">
                                    <label for="AccountName" class="col-form-label lableRightAlign">Account Name</label>
                                </div>
                                <div style="width:400px;">
                                    <input class="form-control" type="text" id="AccountName"
                                        ng-model="NewAccount.AccountName" placeholder="Name of Account">
                                    <small id="AccountName_error" class="form-text error-field"></small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div style="width:260px;">
                                    <label for="AccountType" class="col-form-label lableRightAlign">Account Type</label>
                                </div>
                                <div style="width:400px;">
                                    <select ng-model="NewAccount.AccountType" ng-change="accountChange()"
                                        class="form-control dropdown" id="AccountType">
                                        <optgroup ng-repeat="(key,value) in AcountList" label="{{value.label}}">
                                            <option ng-repeat="account in value.value" name="{{account.Group}}" value="{{account.Type}}">{{account.Type}}</option>
                                        </optgroup>
                                    </select>
                                    <small id="AccountType_error" class="form-text error-field"></small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div style="width:260px;">
                                    <label for="Currency" class="col-form-label lableRightAlign">Currency</label>
                                </div>
                                <div style="width:400px;">
                                    <select id="Currency" name="Currency" class="form-control dropdown"
                                        ng-model="NewAccount.AccountCurrency" placeholder="Select Currency">
                                        <option ng-repeat="currency in Currencies" ng-value="currency.ISO">
                                            {{currency.ISO}} ({{currency.Symbol}}) - {{currency.Currency}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div style="width:260px;">
                                    <label for="Description" class="col-form-label lableRightAlign">Description</label>
                                </div>
                                <div style="width:400px;">
                                    <textarea class="form-control" type="text" id="Description"
                                        placeholder="Description" ng-model="NewAccount.Description"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div style="width:260px;">
                                    <label for="AccountID" class="col-form-label lableRightAlign">Account ID</label>
                                </div>
                                <div style="width:400px;">
                                    <input class="form-control" type="text" id="AccountID"
                                        ng-model="NewAccount.AccountID" placeholder="Account ID">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="width:260px;">
                                    <label for="Archived" class="col-form-label lableRightAlign"></label>
                                </div>
                                    <div class="form-check" style="width:400px;">
                                        <input type="checkbox" class="form-check-input" id="Archived"
                                            ng-model="NewAccount.Archived">
                                        <small><span style="font-weight: bold;">Disable Account</span><br>This will prevent future use of the account, but reporting is still possible.</br></small>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button id="SaveAccount" class="btn btn-primary btn-tab-next" ng-click="SaveAccount()"
                            ng-show="!NewAccount.UniqueID">Save</button>
                        <button id="UpdateAccount" class="btn btn-success btn-tab-next" ng-click="UpdateAccount()"
                            ng-show="NewAccount.UniqueID">Update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="CloseAccountModal2"
                            ng-click="CloseAccountModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: delete Account -->
    <div class="modal fade" id="DeleteAccount" tabindex="-1" role="dialog" aria-labelledby="DeleteAccountLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteAccountLabel">Delete Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to disable account:<span> {{DeleteAccount.Name}}</span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="deleteBtn" type="button" class="btn btn-danger"
                        ng-click="RemoveAccount()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>