<form role="form" name="customerStatementForm" novalidate>
    <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span id="message"></span>
    </div>
    <div class="modal-body">
        <div id="displayCustomers" class="container-fluid">
            <div class="form-group row round-border">
                <div class="title-label">
                    <label>Customers Statements</label>
                </div>
            </div>
            <div class="round-border-non-row">
                <div class="row">
                    <div class="Counters BorderRight">
                        <div class="counter-title">
                            <label id="TotalUnpaidInvoices"
                                class="Dashboard-Counter text-blue">{{TotalUnpaidInvoices}}</label>
                            <p>Unpaid Invoices </p>
                        </div>
                    </div>
                    <div class="Counters BorderRight">
                        <div class="counter-title">
                            <label id="TotalOverdueInvoices"
                                class="Dashboard-Counter text-blue">{{TotalOverdueInvoices}}</label>
                            <p>Overdue Invoices </p>
                        </div>
                    </div>
                    <div class="Counters BorderRight">
                        <div class="counter-title">
                            <label id="TotalAmountDue" class="Dashboard-Counter text-blue">{{TotalAmountNotDue}}</label>
                            <p>Total Amount Not Yet Due</p>
                        </div>
                    </div>

                    <div class="Counters">
                        <div class="counter-title">
                            <label id="TotalAmountOverdue"
                                class="Dashboard-Counter text-red">{{TotalAmountOverDue}}</label>
                            <p>Total Amount Overdue</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="displayCustomers" class="form-group round-border-non-row">
                <table class="table table-striped" style="width:100%" id="CustomersTable">
                    <thead>
                        <tr class="table-header" style="width:100%">
                            <td>Customer Name</td>
                            <td>Total Amount Not Due </td>
                            <td>Total Amount Over Due</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <i class="modal-footer">
            </i>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="CustomerModal" tabindex="-1" role="dialog" aria-labelledby="CustomerModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CustomerModalLongTitle">Customer Statement Preview</h5>
                    <button type="button" id="DownloadStatement" class="btn btn-outline-info btn-sm btn-margin"
                        aria-label="Close" ng-click="DownloadStatement()"><span
                            class="glyphicon glyphicon-download-alt"></span> download
                    </button>
                    <button type="button" id="xCloseCustomerModal" class="close" data-dismiss="modal" aria-label="Close"
                        ng-click="CloseCustomerModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--******************************************* Customer Stament Preview ************************************************************-->
                <div style="min-height: 1024px; border-radius: 1px;border-style: groove;" name="StatementPdfPreview">
                    <div style="padding:15px;">
                        <table id="print_StatementHeader" class="table table-borderless"
                            style="margin-bottom: 0; padding: 0;">
                            <tbody style="font-size: 15px;">
                                <tr>
                                    <td rowspan="2" id="companyLogo" style="padding-right: 0;">
                                        <image alt="" ng-src="{{Settings.Logo}}"
                                            style="height: 100px;width: 200px;float: left;"></image>
                                    </td>
                                    <td style="padding: 0; ">
                                        <label id="documentType"
                                            style="float: right; font-size: 30px; font-weight: bold;">Statement Of
                                            Account</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="invoiceHeader">
                                        <table id="print_CompanyInfo" style="width: 100%;">
                                            <thead>
                                                <tr style="text-align: right;">
                                                    <td style="padding: 0;">
                                                        <span style="font-size: 18px; font-weight: bold;"
                                                            id="companyName">{{Settings.CompanyName}}</span>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="font-size: 12px; text-align: right;">
                                                    <td style="padding: 0;">
                                                        <span id="addrressLine1">{{Settings.AddressLine1}}</span><br />
                                                        <span id="addrressLine2">{{Settings.AddressLine2}}</span> <br />
                                                        <span id="addrressLine3">{{Settings.ZipCode}}
                                                            {{Settings.City}}</span>
                                                        <br />
                                                        <span id="addrressLine4">{{Settings.Country}}</span> <br />
                                                        <span id="contact">{{Settings.Phone}}</span> <br />
                                                        <span id="website">{{Settings.Website}}<span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="padding-left: 5px;">
                            <span id="BillTo" style="font-size: 15px;" class="text-bold">Bill To:</span>
                        </div>
                        <div class="form-group row">
                            <div class="col" style="padding-right: 25px;">
                                <table id="print_StatementCustomerInfo">
                                    <thead>
                                        <tr>
                                            <td>
                                                <span style="font-weight: bold; font-size: 18px;"
                                                    id="companyName">{{Customer.CustomerName}}</span>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size: 12px;">
                                        <tr>
                                            <td id="invoiceHeader">
                                                <p>
                                                    <span id="addrressLine1">{{Customer.Billing.AddressLine1}}</span>
                                                    <br />
                                                    <span id="addrressLine2">{{Customer.Billing.AddressLine2}}</span>
                                                    <br />
                                                    <span id="addrressLine3">{{Customer.Billing.ZipCode}}
                                                        {{Customer.Billing.City}}</span><br />
                                                    <span id="addrressLine4"> {{Customer.Billing.Country}}</span>
                                                    <br />
                                                    <span id="website">{{Customer.Phone}}</span><span
                                                        ng-show="Customer.Phone !=''">
                                                        |
                                                    </span><span id="website">{{Customer.Email}}</span>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                <table id="print_StatementHeaderInfo_{{CustomerCurrrencyStatement.Currency}}" class="float-right">
                                    <tbody style="font-size: 15px; width: fit-content;">
                                        <tr style="font-size: 18px;" class="text-bold">
                                            <td colspan="2" class="text-right"><span
                                                    >{{CustomerCurrrencyStatement.CurrencyName}}
                                                    ({{CustomerCurrrencyStatement.Currency}})</span></td>
                                        </tr>

                                        <tr style="font-size: 15px;" class="text-bold">
                                            <td colspan="2" class="text-right"><span >Statement as of:
                                                    {{StatementDate}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><span >Amount Overdue:</span></td>
                                            <td><span
                                                    style="padding-left:10px">{{CustomerCurrrencyStatement.TotalNetAmountOverDue}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><span>Amount Not Yet Due:</span></td>
                                            <td class="text-right"><span
                                                    style="padding-left:10px">{{CustomerCurrrencyStatement.TotalAmountNotDue}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><span >Total Late Fees:</span></td>
                                            <td><span
                                                    style="padding-left:10px">{{CustomerCurrrencyStatement.TotalLateFees}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="font-size: 15px;" class="text-bold">
                                            <td><span class="text-right">Total Outstanding Amount
                                                    ({{CustomerCurrrencyStatement.Currency}}):
                                                </span></td>
                                            <td><span
                                                    style="padding-left:10px">{{CustomerCurrrencyStatement.TotalAmountOutstanding}}</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <table id="print_StatementItems_{{CustomerCurrrencyStatement.Currency}}" class="table table-striped">
                                <thead>
                                    <tr id="itemsHeader"
                                        style="font-size: 15px; font:bold; color: white;">
                                        <td>Invoice no.</td>
                                        <td>Invoice date</td>
                                        <td>Invoice due date</td>
                                        <td style="text-align: right">Invoice total</td>
                                        <td style="text-align: right">Total paid</td>
                                        <td style="text-align: right">Late payment fee</td>
                                        <td style="text-align: right">Total due</td>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="item in CustomerCurrrencyStatement.InvoiceDetails track by $index"
                                    style="font-size: 12px; height: 500px;">
                                    <tr>
                                        <td style="text-align: left"><span>{{item.InvoiceNumber}}</span></td>
                                        <td style="text-align: left"><span>{{item.InvoiceDate}}</span></td>
                                        <td style="text-align: left"><span>{{item.DueDate}}</span></td>
                                        <td style="text-align: right"><span>{{item.Total}}</span></td>
                                        <td style="text-align: right"><span>{{item.Paid}}</span></td>
                                        <td style="text-align: right"><span>{{item.LateFee}}</span></td>
                                        <td style="text-align: right"><span>{{item.AmountDue}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="print_StatementFooter_{{CustomerCurrrencyStatement.Currency}}" class=""
                                style="width: auto; float: right; padding-right: 5px;">
                                <tbody style=" text-align: right; font-size: 15px;">
                                    <tr>
                                        <td>
                                            <label
                                                style="padding-right: 10px; text-align: right; font-weight: bold;">Total
                                                Outstanding Amount ({{CustomerCurrrencyStatement.Currency}}):</label>
                                        </td>
                                        <td>
                                            <label
                                                id="SubTotalAmount">{{CustomerCurrrencyStatement.TotalAmountOutstanding}}</label>
                                        </td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--************************************************************* Display Other Currency Account Statements ****************************************************************-->
                        <div style="margin-top: 80px;" ng-repeat="CurrencyStatement in OtherCurrencyStatements">
                            <div class="col">
                                <table id="print_StatementHeaderInfo_{{CurrencyStatement.Currency}}" class="float-right">
                                    <tbody style="font-size: 15px; width: fit-content;">
                                        <tr style="font-size: 18px;" class="text-bold">
                                            <td colspan="2" class="text-right"><span >{{CurrencyStatement.CurrencyName}}
                                                    ({{CurrencyStatement.Currency}})</span></td>
                                        </tr>

                                        <tr style="font-size: 15px;" class="text-bold">
                                            <td colspan="2" class="text-right"><span >Statement as of:
                                                    {{StatementDate}}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><span >Amount Overdue:</span></td>
                                            <td><span
                                                    style="padding-left:10px">{{CurrencyStatement.TotalNetAmountOverDue}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><span >Amount Not Yet Due:</span></td>
                                            <td class="text-right"><span
                                                    style="padding-left:10px">{{CurrencyStatement.TotalAmountNotDue}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><span >Total Late Fees:</span></td>
                                            <td><span
                                                    style="padding-left:10px">{{CurrencyStatement.TotalLateFees}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="font-size: 15px;" class="text-bold">
                                            <td><span class="text-right">Total Outstanding Amount
                                                    ({{CurrencyStatement.Currency}}):
                                                </span></td>
                                            <td><span
                                                    style="padding-left:10px">{{CurrencyStatement.TotalAmountOutstanding}}</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>


                            <table id="print_StatementItems_{{CurrencyStatement.Currency}}" class="table table-striped">
                                <thead>
                                    <tr id="currencyItemsHeader_{{CurrencyStatement.Currency}}"
                                        style="font-size: 15px; font:bold; color: white;">
                                        <td>Invoice no.</td>
                                        <td>Invoice date</td>
                                        <td>Invoice due date</td>
                                        <td style="text-align: right">Invoice total</td>
                                        <td style="text-align: right">Total paid</td>
                                        <td style="text-align: right">Late payment fee</td>
                                        <td style="text-align: right">Total due</td>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="item in CurrencyStatement.InvoiceDetails track by $index"
                                    style="font-size: 12px; height: 500px;">
                                    <tr>
                                        <td style="text-align: left"><span>{{item.InvoiceNumber}}</span></td>
                                        <td style="text-align: left"><span>{{item.InvoiceDate}}</span></td>
                                        <td style="text-align: left"><span>{{item.DueDate}}</span></td>
                                        <td style="text-align: right"><span>{{item.Total}}</span></td>
                                        <td style="text-align: right"><span>{{item.Paid}}</span></td>
                                        <td style="text-align: right"><span>{{item.LateFee}}</span></td>
                                        <td style="text-align: right"><span>{{item.AmountDue}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="print_StatementFooter_{{CurrencyStatement.Currency}}" class=""
                                style="width: auto; float: right; padding-right: 5px;">
                                <tbody style=" text-align: right; font-size: 15px;">
                                    <tr>
                                        <td>
                                            <label
                                                style="padding-right: 10px; text-align: right; font-weight: bold;">Total
                                                Outstanding Amount ({{CurrencyStatement.Currency}}):</label>
                                        </td>
                                        <td>
                                            <label
                                                id="SubTotalAmount">{{CurrencyStatement.TotalAmountOutstanding}}</label>
                                        </td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>