<form role="form" name="customerForm" novalidate>
    <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span id="message"></span>
    </div>
    <div class="modal-body">
        <div id="displayCustomers" class="container-fluid">
            <div class="form-group row round-border">
                <div class="title-label">
                    <label>Customers</label>
                </div>

            </div>
            <div id="displayCustomers" class="form-group round-border-non-row">
                <div class="row form-group DashboardButton">
                    <button id="AddCustomerBtn" type="button" class="btn btn-outline main-button" data-toggle="modal"
                        data-target="#CustomerModal" ng-click="AddCustomer()">
                        <div>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm4.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd"
                                    d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
                            </svg>
                            <span>Add New Customer</span>
                    </button>
                </div>
                <div>
                    <table class="table table-striped" style="width:100%" id="CustomersTable">
                        <thead>
                            <tr class="table-header" style="width:100%">
                                <td>Customer Name</td>
                                <td>Contact Name</td>
                                <td>Phone</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <i class="modal-footer">
            </i>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="CustomerModal" tabindex="-1" role="dialog" aria-labelledby="CustomerModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CustomerModalLongTitle">Customer Details</h5>
                    <button type="button" id="xCloseCustomerModal" class="close" data-dismiss="modal" aria-label="Close"
                        ng-click="CloseCustomerModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="AddCustomers" name="Customer">
                        <h3>Contact Details</h3>
                        <div id="Contact"  class="padded-div">
                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="Customer" class="col-form-label lableRightAlign">Customer</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="Customer"
                                        ng-model="NewCustomer.CustomerName" placeholder="Business or Person">
                                    <small id="Customer_error" class="form-text error-field">Customer
                                        Name is required!</small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="FirstName" class="col-form-label lableRightAlign">Contact</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="FirstName"
                                        ng-model="NewCustomer.ContactFname" placeholder="First Name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="LastName" class="col-form-label lableRightAlign"></label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="LastName"
                                        ng-model="NewCustomer.ContactLname" placeholder="Last Name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="Email" class="col-form-label lableRightAlign">Email</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="email" id="Email" name="customerEmail"
                                        ng-model="NewCustomer.Email" required>
                                    <small id="Email_error" class="form-text error-field"></small>
                                </div>                                
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="Phone" class="col-form-label lableRightAlign">Phone</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="Phone" ng-model="NewCustomer.Phone">
                                    <small id="Phone_error" class="form-text error-field"></small>
                                </div>                                
                            </div>
                        </div>
                        <h3>Billing Details</h3>
                        <div class="padded-div">
                        <div class="form-group row">
                            <div class="col-md-4 control-label">
                                <label for="Currency" class="col-form-label lableRightAlign">Currency</label>
                            </div>
                            <div class="input-group col-md-7">
                                <select id="Currency" name="Currency" class="form-control"
                                    ng-model="NewCustomer.Currency">
                                    <option ng-value="" ng-show="NewCustomer.Currency != ''"></option>
                                    <option ng-repeat="currency in Currencies" value="{{currency.ISO}}">
                                        {{currency.ISO}} ({{currency.Symbol}}) - {{currency.Currency}}</option>
                                </select>
                            </div>
                        </div>
                        <div id="Billing">
                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="AddressLine1" class="col-form-label lableRightAlign">Address
                                        Line 1</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="AddressLine1"
                                        ng-model="NewCustomer.Billing.AddressLine1">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="AddressLine2" class="col-form-label lableRightAlign">Address
                                        Line 2</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="AddressLine2"
                                        ng-model="NewCustomer.Billing.AddressLine2">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="City" class="col-form-label lableRightAlign">City</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="City"
                                        ng-model="NewCustomer.Billing.City">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="ZipCode" class="col-form-label lableRightAlign">Postal/ZIP
                                        Code</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="ZipCode"
                                        ng-model="NewCustomer.Billing.ZipCode">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="Country" class="col-form-label lableRightAlign">Country</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <select id="Country" name="Country" class="form-control"
                                        ng-model="NewCustomer.Billing.Country">
                                        <option ng-value="" ng-show="NewCustomer.Billing.Country != ''"></option>
                                        <option ng-repeat="country in Countries" ng-value="country.Country">
                                            {{country.Country}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        </div>
                        <h3>Shipping Details</h3>
                        <div id="Shipping" class="padded-div">
                            <div class="form-group row">
                                <div class="checkbox" style="margin-left: 10px;">
                                    <label>
                                        <input id="sameASbilling" type="checkbox"
                                            ng-model="NewCustomer.Shipping.SameAsBilling"
                                            ng-change="SameAsBillingOnChange()">Same as
                                        billing
                                    </label>
                                </div>
                            </div>
                            <div id="billingInfo">
                                <div class="form-group row">
                                    <div class="col-md-4 control-label">
                                        <label for="S_AddressLine1" class="col-form-label lableRightAlign">Address
                                            Line
                                            1</label>
                                    </div>
                                    <div class="input-group col-md-7">
                                        <input class="form-control" type="text" id="S_AddressLine1"
                                            ng-model="NewCustomer.Shipping.AddressLine1">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-4 control-label">
                                        <label for="S_AddressLine2" class="col-form-label lableRightAlign">Address
                                            Line
                                            2</label>
                                    </div>
                                    <div class="input-group col-md-7">
                                        <input class="form-control" type="text" id="S_AddressLine2"
                                            ng-model="NewCustomer.Shipping.AddressLine2">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-4 control-label">
                                        <label for="S_City" class="col-form-label lableRightAlign">City</label>
                                    </div>
                                    <div class="input-group col-md-7">
                                        <input class="form-control" type="text" id="S_City"
                                            ng-model="NewCustomer.Shipping.City">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-4 control-label">
                                        <label for="S_ZipCode" class="col-form-label lableRightAlign">Postal/ZIP
                                            Code</label>
                                    </div>
                                    <div class="input-group col-md-7">
                                        <input class="form-control" type="text" id="S_ZipCode"
                                            ng-model="NewCustomer.Shipping.ZipCode">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-4 control-label">
                                        <label for="S_Country" class="col-form-label lableRightAlign">Country</label>
                                    </div>
                                    <div class="input-group col-md-7">
                                        <select id="S_Country" name="Country" class="form-control"
                                            ng-model="NewCustomer.Shipping.Country">
                                            <option ng-value="" ng-show="NewCustomer.Shipping.Country != ''"></option>
                                            <option ng-repeat="country in Countries" ng-value="country.Country">
                                                {{country.Country}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="SaveCustomer" class="btn btn-primary btn-tab-next" ng-click="SaveCustomer()"
                                ng-show="!NewCustomer.UniqueID">Save</button>
                            <button id="UpdateCustomer" class="btn btn-success btn-tab-next" ng-click="UpdateCustomer()"
                                ng-show="NewCustomer.UniqueID">Update</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="CloseCustomerModal2" ng-click="CloseCustomerModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: delete customer -->
    <div class="modal fade" id="DeleteCustomer" tabindex="-1" role="dialog" aria-labelledby="DeleteCustomerLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteCustomerLabel">Delete Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete:<span> {{DeleteCustomer.CustomerName}}</span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="deleteBtn" type="button" class="btn btn-danger"
                        ng-click="RemoveCustomer()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>