<form role="form" name="expenseDashboardForm" novalidate>
    <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span id="message"></span>
    </div>
    <div class="modal-body">
        <div id="ExpensesDashBoard" class="">
            <div class="form-group">
                <div class="round-border-non-row">
                    <div class="row container-fluid ">
                        <div class="title-label">
                            <label >Expenses Dashboard</label>
                        </div>                       
                    </div>
                </div>
                <div class="round-border-non-row">
                    <div>
                        <label>Search Filters</label>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="Supplier">Supplier</label>
                            <select id="Supplier" class="form-control" ng-model="Supplier">                                
                                <option selected ng-value=""></option>
                                    <option ng-repeat="supplier in Suppliers" ng-value="supplier.UniqueID">{{supplier.SupplierName}}</option>
                                </select></td>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Status">Status</label>
                            <select id="Status" class="form-control" ng-model="Status">
                                <option selected>All</option>
                                <option>Unpaid</option>
                                <option>Paid</option>
                                <option>Canceled</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="FromDate">From</label>
                            <input type="text" class="form-control" data-provide="datepicker" id="FromDate" ng-model="FromDate">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="ToDate">To</label>
                            <input type="text" class="form-control" data-provide="datepicker" id="ToDate" ng-model="ToDate">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="ExpenseNumber">Expense Number</label>
                            <input type="text" class="form-control" id="ExpenseNumber" ng-model="ExpenseNumber">
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" id="ApplyFilter" ng-click="Applyfilter()">Apply</button>
                    <button class="btn btn-secondary" type="submit" id="ClearFilters" ng-click="ClearFilters()">Reset</button>
                </div>
                <div class="form-group round-border-non-row">
                    <div class="row form-group DashboardButton">
                        <a class="btn  btn-outline main-button" ng-href="#!addexpense">
                            <div>
                                <svg class="bi bi-file-earmark-check" width="50px" height="50px" viewBox="0 0 16 16"
                                    fill="currentColor">
                                    <path
                                        d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h5v-1H4a1 1 0 01-1-1V3a1 1 0 011-1h5v2.5A1.5 1.5 0 0010.5 6H13v2h1V6L9 1z" />
                                    <path fill-rule="evenodd"
                                        d="M15.854 10.146a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708l1.146 1.147 2.646-2.647a.5.5 0 01.708 0z"
                                        clip-rule="evenodd" />
                                </svg><span>Add Expense</span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <table class="table table-striped TableHover" style="width:100%;" id="ExpensesTable">
                            <thead>
                                <tr class="table-header">
                                    <td>Expense number</td>
                                    <td>Expense date</td>
                                    <td>Supplier</td>
                                    <td>Total Amount</td>
                                    <td>Late Fees</td>
                                    <td>Amount Due</td>
                                    <td>Status</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <i class="modal-footer">
                    </i>
                </div>
            </div>
            <!-- ***************************************************** Payment Modal ********************************************************** -->
            <div class="modal fade" id="ExpensePaymentModal" tabindex="-1" role="dialog"
                aria-labelledby="ProductModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ExpensePaymentLongTitle">Record Payment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                ng-click="ResetModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="ExpensePayment">
                                <div id="PaymentError" class="alert alert-dismissible" role="alert"
                                    style="text-align:center;">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span id="PaymentMessage"></span>
                                </div>
                                <div class="">
                                    <label style="padding-right: 10px; text-align:left">Total Amount Due</label>
                                    <label
                                        id="TotalAmountDue">{{CurrencySymbol}}{{Expense.ExpensePayment.Balance}}</label>
                                    <div class="form-group row">
                                        <div style="width:160px;">
                                            <label for="ActualPaymentDate"
                                                class="col-form-label lableRightAlign">Payment
                                                Date</label>
                                        </div>
                                        <div style="width:260px;">
                                            <input type="text" class="form-control" data-provide="datepicker"
                                                id="ActualPaymentDate" ng-model="FormActualPaymentDate"
                                                ng-change="PaymentDateChange()">
                                                <small id="ActualPaymentDate_error" class="form-text error-field"></small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div style="width:160px;">
                                            <label for="PaymentMethod" class="col-form-label lableRightAlign">Payment
                                                Method</label>
                                        </div>
                                        <div style="width:260px;">
                                            <select class="form-control" id="PaymentMethod"
                                                ng-model="ExpensePayment.PaymentMethod">
                                                <option>Select</option>
                                                <option>Cash</option>
                                                <option>Bank Trasnfer</option>
                                                <option>Mobile Payment</option>
                                                <option>Other</option>
                                            </select>
                                            <small id="PaymentMethod_error" class="form-text error-field"></small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div style="width:160px;">
                                            <label for="ExpenseAccount" class="col-form-label lableRightAlign">Expense account</label>
                                        </div>
                                        <div style="width:260px;">
                                            <select class="form-control jc-select" ng-model="ExpensePayment.ExpenseAccount" ng-change="lineValueChange($index)" id="ExpenseAccount">
                                                <option ng-repeat="account in ExpenseAccounts" ng-value="account.UniqueID">{{account.AccountName}}</option>
                                            </select>
                                            <small id="ExpenseAccount_error" class="form-text error-field"></small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div style="width:160px;">
                                            <label for="PaymentDetails" class="col-form-label lableRightAlign">Payment
                                                Details</label>
                                        </div>
                                        <div style="width:260px;">
                                            <textarea class="form-control" rows="5" class="form-control"
                                                id="PaymentDetails" ng-model="ExpensePayment.PaymentDetails"></textarea>
                                        </div>
                                    </div>                                    
                                    <div class="form-group row">
                                        <div style="width:160px;">
                                            <label for="AmountRecieved" class="col-form-label lableRightAlign">Amount
                                                Recieved
                                                {{CurrencySymbol}}</label>
                                        </div>
                                        <div style="width:260px;">
                                            <input class="form-control" type="text" id="AmountRecieved"
                                                ng-blur="PaymentAmntOnChange()" placeholder=0.00
                                                ng-model="ExpensePayment.AmountRecieved" valid-number>
                                            <small id="AmountRecieved_error" class="form-text error-field"></small>
                                        </div>
                                    </div>
                                    <div class="form-group row"
                                        ng-show="Expense.ExpenseHeader.ExpenseCurrency != Expense.ExpenseHeader.CompanyCurrency">
                                        <div style="width:160px;">
                                            <label for="exchangeRate" class="col-form-label lableRightAlign">Exchange
                                                Rate:</label></div>
                                        <div style="width:260px;">
                                            <input class="form-control" type="text" id="exchangeRate"
                                                ng-model="ExpensePayment.ExchangeRate" valid-number
                                                ng-change="exchangeRateChange">
                                            <small id="" class="form-text"
                                                style="font-style: italic;; font-size: 12px;">{{Expense.ExpenseHeader.ExpenseCurrency}}
                                                to {{Expense.ExpenseHeader.CompanyCurrency}}</small>
                                        </div>
                                    </div>
                                    <div id="NextPaymentDateDiv" class="form-group row" style="display: none">
                                        <div style="width:160px;">
                                            <label for="NextPaymentDate" class="col-form-label lableRightAlign">Next
                                                Payment
                                                Date</label>
                                        </div>
                                        <div style="width:260px;">
                                            <input type="text" class="form-control" data-provide="datepicker"
                                                id="NextPaymentDate" ng-model="FormNextPaymentDate" ng-change="NextPaymentDateChange()">
                                                <small id="NextPaymentDate_error" class="form-text error-field"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button role="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                            <button role="button" class="btn btn-success" id=""
                                ng-click="SubmitPayment()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--********************************************************************************************************************************-->
            <!-- Modal: Delete expense -->
            <div class="modal fade" id="DeleteExpense" tabindex="-1" role="dialog" aria-labelledby="DeleteExpensesLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="DeleteExpensesLabel">Delete Expenses</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete: Expense #<span>
                                    {{DeleteExpense.ExpenseHeader.ExpenseNumber}}</span> ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button id="deleteBtn" type="button" class="btn btn-danger"
                                ng-click="RemoveExpense()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--********************************************************************************************************************************-->
</form>