<form role="form" name="expenseForm" id="expenseForm" novalidate>

    <div id="NewExpense" style="display: block;">
        <H1 id="displayState"><span ng-show="Expense.UniqueID == null">New </span>Expense<span
                ng-show="Expense.UniqueID != null">
                #{{Expense.ExpenseHeader.ExpenseNumber}}</span></H1>
        <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span id="message"></span>
        </div>
        <div class="form-group row" id="ExpenseHederSection" style=" margin-bottom: 0;">

            <!--************************************ Bill To section ***************************************************************************-->
            <div class="form-group col-md-6 container-fluid">
                <div class="round-border-full-height">
                    <form class="form-horizontal">
                        <label for="" class="col-form-label" style=" text-align:right; padding-right:5px;">Supplier
                            Details</label>
                        <div class="form-group row">
                            <div id="Supplier" class="col-md-10">
                                <!-- Button trigger modal -->
                                <button id="AddCstBtn" type="button" class="btn btn-default add-person-button"
                                    ng-show="Expense.Supplier.SupplierName == ''" style="height: 200px; width: 300px;"
                                    data-toggle="modal" data-target="#SupplierModal" ng-click="AddSupplier()">
                                    <div>
                                        <svg viewBox="0 0 16 16" class="bi bi-person-plus" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                        </svg>
                                    </div>
                                    <span>Select Supplier</span>
                                </button>

                            </div>
                            <div id="Suppliertxt" ng-show="Expense.Supplier.SupplierName != ''" class="col-md-10"
                                style="font-size: 16px; padding-left:25px;">

                                <div class="form-group row">
                                    <label for="h_Supplier" class="col-form-label col-md-4 text-right">Suplier
                                        Name:</label>
                                    <div class="col-md-8">
                                        <label class="col-form-label" id="h_Supplier">{{Expense.Supplier.SupplierName}}
                                            </h5>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="Currency" class="col-form-label col-md-4 text-right">
                                        Currency:</label>
                                    <div class="col-md-8">
                                        <select id="ExpenseCurrency" name="Currency" class="form-control"
                                            data-toggle="tooltip" title="Hooray!" style="margin-right: 10px;"
                                            ng-model="Expense.ExpenseHeader.ExpenseCurrency"
                                            ng-change="CurrencyChange()">
                                            <option ng-repeat="currency in Currencies" ng-value="currency.ISO">
                                                {{currency.ISO}}
                                                ({{currency.Symbol}}) - {{currency.Currency}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row"
                                    ng-show="Expense.ExpenseHeader.ExpenseCurrency != Settings.Currency">
                                    <label for="exchangeRate" class="col-form-label col-md-4 text-right">Exchange
                                        Rate:</label>
                                    <div class="col-md-8">
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" id="exchangeRate"
                                                ng-model="Expense.ExpenseHeader.ExchangeRate" valid-number
                                                ng-change="exchangeRateChange()">
                                            <span tabindex="0" data-toggle="popover" data-trigger="focus"
                                                title="Exchange Rate"
                                                data-content="Example: If your company currency is USD and you select ZWD above when 1 USD = 10 ZWD , then you should enter 0.1"
                                                class="infoIcon input-group-append glyphicon glyphicon-question-sign"
                                                aria-hidden="true"></span>
                                        </div>

                                        <small id="" class="form-text"
                                            style="font-style: italic;; font-size: 12px;">{{Expense.ExpenseHeader.ExpenseCurrency}}
                                            to {{Expense.ExpenseHeader.CompanyCurrency}}</small>
                                    </div>

                                </div>
                                <button id="editSupplier" class="btn btn-link btn-sm" data-toggle="modal"
                                    ng-click="EditSupplier()" data-target="#SupplierModal"
                                    style="font-size: 15px; margin-top:5px; color: blue;">
                                    Edit {{Expense.Supplier.SupplierName}}<a>|</a></button>
                                <button id="addDifSupplier" class="btn btn-link btn-sm" data-toggle="modal"
                                    data-target="#SupplierModal" style="font-size: 15px; margin-top:5px; color: blue;"
                                    ng-click="AddSupplier()">Add
                                    Different Supplier</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <!--*************************************************************************************************************************************-->

            <!--************************************ Expense Header Details section ***************************************************************-->
            <div class="form-group col-md-6 container-fluid">
                <div class="round-border-full-height">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label for="expenseNumber" class="col-form-label  col-md-5"
                                style="text-align:right;">Expense
                                Number</label>
                            <div class="col-md-7">
                                <input disabled class="form-control" type="text" id="expenseNumber"
                                    ng-model="Expense.ExpenseHeader.ExpenseNumber">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="PO_SO_Number" class="col-form-label col-md-5"
                                style="text-align:right;">Service/Order
                                Number</label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="PO_SO_Number"
                                    ng-model="Expense.ExpenseHeader.OrderNumber">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="expenseDate" class="col-form-label col-md-5" style="text-align:right;">Expense
                                Date</label>
                            <div class="col-md-7 ">
                                <input type="text" class="form-control" data-provide="datepicker" id="expenseDate"
                                    ng-model="FormExpenseDate" ng-change="ExpenseDateOnChange()">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="paymentDate" class="col-form-label col-md-5" style="text-align:right;">Payment
                                Terms</label>
                            <div class="col-md-7">
                                <input id="PaymentTerm" name="PaymentTerm" class="form-control" readonly
                                    ng-model="Expense.ExpenseHeader.PaymentTerms.PaymentTerm">
                                <small id="" ng-show="Expense.ExpenseHeader.PaymentTerms.LatePaymentRate > 0"
                                    class="form-text">Late payment rate:
                                    {{Expense.ExpenseHeader.PaymentTerms.LatePaymentRate}}%</small>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="paymentDate" class="col-form-label col-md-5" style="text-align:right;">Payment
                                Date</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" data-provide="datepicker" id="paymentDate"
                                    ng-model="FormPaymentDate" ng-change="PaymentDateOnChange()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--******************************************************************************************************************-->
        </div>
        <!--************************************ Expense Line Items section ***************************************************************-->
        <div class="form-group" id="ExpenseLinesSection">
            <div class="round-border">
                <table id="ExpenseItems" class=" table order-list">
                    <thead>
                        <tr>
                            <td>Item</td>
                            <td>Expense Category</td>
                            <td>Description</td>
                            <td>Quantity</td>
                            <td>price</td>
                            <td>Total Amount</td>
                            <td>Tax</td>
                            <td style="display: none;">Tax Rate</td>
                            <td ng-show="ExpenseTaxes[0].Name != null">Tax Amount</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in ExpenseLineItems track by $index" style="height: 500px;">
                        <tr>
                            <td><input type="text" class="form-control" ng-model="item.Item" /></td>
                            <td>
                                <select ng-model="item.ExpenseAccount" class="form-control">
                                    <option ng-repeat="account in ExpenseAccount" ng-value="account.UniqueID">
                                        {{account.AccountName}}</option>
                                </select>
                            </td>
                            <td><textarea type="text" class="form-control" ng-model="item.Description" rows="4"
                                    cols="50"></textarea></td>
                            <td><input type="text" class="form-control" placeholder="0" ng-model="item.Quantity"
                                    ng-change="lineValueChange($index)" valid-number /></td>
                            <td><input type="text" class="form-control" placeholder="0.00" ng-model="item.Cost"
                                    ng-change="lineValueChange($index)" valid-number /></td>
                            <td><label>{{CurrencySymbol}}{{item.Amount}}</label></td>
                            <td>
                                <select ng-model="item.TaxName" ng-change="lineValueChange($index)"
                                    class="form-control">
                                    <option ng-value="" ng-show="item.TaxName != ''"></option>
                                    <option ng-repeat="tax in Tax" ng-value="tax.Name">{{tax.Name}} {{tax.TaxRate}}%
                                    </option>
                                </select>
                            </td>
                            <td style="display: none;"><input type="number" step=".01" readonly class="form-control"
                                    placeholder="0.00" ng-model="item.TaxRate" ng-change="lineValueChange($index)" />
                            </td>
                            <td ng-show="ExpenseTaxes[0].Name != null">
                                <label>{{CurrencySymbol}}{{item.TaxAmount}}</label>
                            </td>
                            <td><i ng-click="deleteItem($index)"><span class="glyphicon glyphicon-trash"></span></i>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td colspan="6" style="text-align: left;">
                                <button style="width:100%;" class="btn btn-lg btn-default" id="addrowBtn"
                                    ng-click="addItem()">
                                    <span class="glyphicon glyphicon-plus"></span> Add Item</button>
                                <div id="SelectItems" class="form-group  roundedBorder">

                                    <table class="table table-striped" style="width:100%" id="ItemsRslt">
                                        <thead style="width:100%">
                                            <tr>
                                                <td>Item</td>
                                                <td>Description</td>
                                                <td>Price</td>
                                            </tr>
                                        </thead>
                                        <tbody id="ItemsRsltBody">

                                        </tbody>
                                        <tfoot>

                                        </tfoot>
                                    </table>
                                    <div class="">
                                        <button style="width: 200px" class="btn btn-primary" id="addNewPrdct"
                                            ng-click="AddNonCatalogItem()">
                                            <span class="glyphicon glyphicon-plus"></span>Add New Item</button>
                                        <button style="width: 200px" class="btn btn-secondary" id="CancelAddNewPrdct"
                                            ng-click="CancelAddNewPrdct()">
                                            <span></span>Close</button>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!--****************************************************************************************************************************-->
            <!--************************************ Expense Totals section ***************************************************************-->
            <div class="form-group">
                <div class="container col-md-4 offset-md-8  round-border-full-width">
                    <table class="table table-striped" id="TotalsTable">
                        <thead>
                            <tr class="text-right">
                                <td>Sub Total:</td>
                                <td>{{CurrencySymbol}}{{Expense.ExpenseHeader.ExpenseNetAmount}}</td>
                            </tr>
                        </thead>
                        <tbody id="TotalsTableBody">
                            <tr class="text-right" ng-repeat="tax in Expense.ExpenseTaxes track by $index">
                                <td>{{tax.Name}} ({{tax.TaxRate}}%): </td>
                                <td>{{CurrencySymbol}}{{tax.TotalTaxAmount}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="text-right">
                                <td>Total ({{Expense.ExpenseHeader.ExpenseCurrency}}):</td>
                                <td>{{CurrencySymbol}}{{Expense.ExpenseHeader.ExpenseAmount}}</td>
                            </tr>
                            <tr class="text-right text-red" ng-show="LateFees > 0">
                                <td>Potential Late Fees ({{Expense.ExpenseHeader.ExpenseCurrency}}):</td>
                                <td>{{CurrencySymbol}}{{ExpenseLateFees}}</td>
                            </tr>
                            <tr class="text-right" ng-show="Expense.UniqueID != null">
                                <td>Total Paid ({{Expense.ExpenseHeader.ExpenseCurrency}}):</td>
                                <td>{{CurrencySymbol}}{{AmountPaid}}</td>
                            </tr>
                            <tr class="text-right" ng-show="Expense.UniqueID != null">
                                <td>Amount Due ({{Expense.ExpenseHeader.ExpenseCurrency}}):</td>
                                <td>{{CurrencySymbol}}{{AmountDue}}</td>
                            </tr>

                            <tr class="text-right" ng-show="Expense.UniqueID != null" style="font-size: 15px;">
                                <td ng-show="Expense.ExpenseHeader.ExpenseCurrency != Settings.Currency">Total
                                    ({{Expense.ExpenseHeader.CompanyCurrency}}) at exchange rate
                                    ({{Expense.ExpenseHeader.ExchangeRate}}):</td>
                                <td ng-show="Expense.ExpenseHeader.ExpenseCurrency != Settings.Currency">
                                    {{ExpenseCompanyCurrency.Symbol}}{{ConvertedAmount}}
                                </td>
                            </tr>

                        </tfoot>
                    </table>
                </div>



            </div>
        </div>
        <!--****************************************************************************************************************************-->
        <!--************************************ Payments section ***************************************************************-->
        <div style="padding-top: 15px; margin-bottom: 50px;" class="container-fluid" ng-show="Expense.UniqueID != null">
            <div>
                <label for="" class="col-form-label" style=" text-align:right; padding-right:5px;">Payment
                    Details</label>
                <table class="table table-striped" style="width:100%" id="ExpensePayments">
                    <thead style="width:100%; font-size: 15px; font-weight: bold;">
                        <tr>
                            <td>Payment date</td>
                            <td>Payment method</td>
                            <td>Payment details</td>
                            <td>Amount paid</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody id="ExpensePaymentsBody" style="font-size: 15px;">

                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
        <!--********************************************************************************************************************-->
        <div id="buttons" class="form-group bottomDiv">
            <div class="row float-right">
                <a class="btn btn-secondary" ng-href="#!expenses">Close</a>
                <button id="ExpenseCreate" class="btn btn-primary" style="margin-left: 10px;"
                    ng-click="CreateExpense()">Save</button>
            </div>
        </div>
    </div>

    <!-- Modal: delete payment -->
    <div class="modal fade" id="DeletePayment" tabindex="-1" role="dialog" aria-labelledby="DeletePaymentLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeletePaymentLabel">Delete Payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this payment of:<span>
                            {{CurrencySymbol}}{{DeletePayment.AmountRecieved}}</span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="deleteBtn" type="button" class="btn btn-danger"
                        ng-click="RemovePayment()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ***************************************************** Supplier Modal ********************************************************** -->
    <div class="modal fade" id="SupplierModal" tabindex="-1" role="dialog" aria-labelledby="SupplierModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SupplierModalLongTitle">Supplier Details</h5>
                    <button type="button" id="xCloseSupplierModal" class="close" data-dismiss="modal" aria-label="Close"
                        ng-click="CloseSupplierModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="displaySuppliers" class="form-group">
                        <table class="table table-striped" style="width:100%" id="supplierRslt">
                            <thead>
                                <tr class="table-header" style="width:100%">
                                    <td>Supplier Name</td>
                                    <td>Contact Name</td>
                                    <td>Phone</td>
                                    <td>Currency</td>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-body">
                        <div id="AddSuppliers" name="Supplier">
                            <h3>Contact Details</h3>
                            <div id="Contact">
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="Supplier" class="col-form-label lableRightAlign">Supplier</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="SupplierName"
                                            ng-model="Supplier.SupplierName" placeholder="Business or Person">
                                        <small id="SupplierName_error" class="form-text error-field"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="FirstName" class="col-form-label lableRightAlign">Contact</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="FirstName"
                                            ng-model="Supplier.ContactFname" placeholder="First Name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="LastName" class="col-form-label lableRightAlign"></label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="LastName"
                                            ng-model="Supplier.ContactLname" placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="Email" class="col-form-label lableRightAlign">Email</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="email" id="Email" name="supplierEmail"
                                            ng-model="Supplier.Email" required>
                                        <small id="Email_error" class="form-text error-field"></small>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="Phone" class="col-form-label lableRightAlign">Phone</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="Phone" ng-model="Supplier.Phone">
                                        <small id="Phone_error" class="form-text error-field"></small>
                                    </div>
                                </div>
                            </div>
                            <h3>Payment Details</h3>

                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="Currency" class="col-form-label lableRightAlign">Currency</label>
                                </div>
                                <div style="width:260px;">
                                    <select id="Currency" name="Currency" class="form-control"
                                        ng-model="Supplier.Currency">
                                        <option ng-value="" ng-show="Supplier.Currency != ''"></option>
                                        <option ng-repeat="currency in Currencies" value="{{currency.ISO}}">
                                            {{currency.ISO}} ({{currency.Symbol}}) - {{currency.Currency}}</option>
                                    </select>
                                    <small id="Currency_error" class="form-text error-field"></small>
                                </div>
                            </div>

                            <div id="PaymentsDetails">
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="PaymentTerm" class="col-form-label lableRightAlign">Payment
                                            Terms</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="PaymentTerm"
                                            ng-model="Supplier.PaymentTerms">
                                        <small id="PaymentTerm_error" class="form-text error-field"></small>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="PaymentPeriod" class="col-form-label lableRightAlign">Payment
                                            Period</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input id="PaymentPeriod" name="PaymentPeriod" type="number" step="1"
                                            placeholder="0" class="form-control input-md" required=""
                                            ng-model="Supplier.PaymentPeriod">
                                        <div class="input-group-append">
                                            <div class="input-group-text">days</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="LatePaymentRate" class="col-form-label lableRightAlign">Late Payment
                                            Rate</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input id="LatePaymentRate" name="LatePaymentRate" type="number" step="1"
                                            placeholder="0" class="form-control input-md" required=""
                                            ng-model="Supplier.LatePaymentRate">
                                        <div class="input-group-append">
                                            <div class="input-group-text"> % </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <h3>Address</h3>
                            <div id="Address">
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="AddressLine1" class="col-form-label lableRightAlign">Address
                                            Line 1</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="AddressLine1"
                                            ng-model="Supplier.AddressLine1">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="AddressLine2" class="col-form-label lableRightAlign">Address
                                            Line 2</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="AddressLine2"
                                            ng-model="Supplier.AddressLine2">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="City" class="col-form-label lableRightAlign">City</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="City" ng-model="Supplier.City">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="ZipCode" class="col-form-label lableRightAlign">Postal/ZIP
                                            Code</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="ZipCode"
                                            ng-model="Supplier.ZipCode">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="Country" class="col-form-label lableRightAlign">Country</label>
                                    </div>
                                    <div style="width:260px;">
                                        <select id="Country" name="Country" class="form-control"
                                            ng-model="Supplier.Country">
                                            <option ng-value="" ng-show="Supplier.Country != ''"></option>
                                            <option ng-repeat="country in Countries" ng-value="country.Country">
                                                {{country.Country}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="SaveSupplier" class="btn btn-primary btn-tab-next" ng-click="SaveSupplier()"
                                    ng-show="!Supplier.UniqueID">Save</button>
                                <button id="UpdateSupplier" class="btn btn-success btn-tab-next"
                                    ng-click="UpdateSupplier()" ng-show="Supplier.UniqueID">Update</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    id="CloseSupplierModal2" ng-click="CloseSupplierModal()">Cancel</button>
                            </div>
                        </div>
                        <div class="modal-footer" id="AddSupplierFooter">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="CloseSupplierModal">Cancel</button>
                            <button id="AddSupplierBtn" type="button" class="btn btn-primary"
                                ng-click="showAddNewSupplier()">Add New Supplier</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--********************************************************************************************************************************-->
</form>