<form role="form" name="invoiceDashboardForm" novalidate>
    <div class="modal-body">
        <div id="InvoiceDashBoard">
            <div class="form-group">

                <div class="form-group row round-border">
                    <div class="title-label">
                        <label>Invoices Dashboard</label>
                    </div>                    
                </div>
                
                <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span id="message"></span>
                </div>
                <div class="round-border-non-row">
                    <div class="row">
                        <div class="Counters BorderRight">
                            <div class="counter-title">
                                <label id="AllInvoices" class="Dashboard-Counter text-blue"></label>
                                <p>All Invoices </p>
                            </div>
                        </div>
                        <div class="Counters BorderRight">
                            <div class="counter-title">
                                <label id="DraftInvoices" class="Dashboard-Counter text-blue"></label>
                                <p>Draft/To send</p>
                            </div>
                        </div>

                        <div class="Counters BorderRight">
                            <div class="counter-title">
                                <label id="UnpaidInvoices" class="Dashboard-Counter text-yellow"></label>
                                <p>Unpaid Invoices</p>
                            </div>
                        </div>

                        <div class="Counters BorderRight">
                            <div class="counter-title">
                                <label id="PaidInvoices" class="Dashboard-Counter text-green"></label>
                                <p>Paid Invoices</p>
                            </div>
                        </div>

                        <div class="Counters">
                            <div class="counter-title">
                                <label id="LateInvoices" class="Dashboard-Counter text-red"></label>
                                <p>Late Invoices</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="round-border-non-row">
                    <div>
                        <label>Search Filters</label>
                    </div>
                    <div class="form-row container-fluid">
                        <div class="form-group col-md-4 container">
                            <label for="Customer">Customer</label>
                            <select id="Customer" class="form-control" ng-model="Customer">                                
                                <option selected ng-value=""></option>
                                    <option ng-repeat="customer in Customers" ng-value="customer.UniqueID">{{customer.CustomerName}}</option>
                                </select></td>
                            </select>
                        </div>
                        <div class="form-group col-md-2 container">
                            <label for="Status">Status</label>
                            <select id="Status" class="form-control" ng-model="Status">
                                <option selected>All</option>
                                <option>Draft</option>
                                <option>To send</option>
                                <option>Unpaid</option>
                                <option>Paid</option>
                                <option>Canceled</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2 container">
                            <label for="FromDate">From</label>
                            <input type="text" class="form-control" data-provide="datepicker" id="FromDate" ng-model="FromDate">
                        </div>
                        <div class="form-group col-md-2 container">
                            <label for="ToDate">To</label>
                            <input type="text" class="form-control" data-provide="datepicker" id="ToDate" ng-model="ToDate">
                        </div>
                        <div class="form-group col-md-2 container">
                            <label for="InvoiceNumber">Invoice Number</label>
                            <input type="text" class="form-control" id="InvoiceNumber" ng-model="InvoiceNumber">
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" id="ApplyFilter" ng-click="Applyfilter()">Apply</button>
                    <button class="btn btn-secondary" type="submit" id="ClearFilters" ng-click="ClearFilters()">Reset</button>
                </div>
                <div class="form-group round-border-non-row">
                    <div class="row form-group DashboardButton">
                        <a class="btn  btn-outline main-button" ng-href="#!createinvoice">
                            <div>
                                <svg class="bi bi-file-earmark-check" width="50px" height="50px" viewBox="0 0 16 16"
                                    fill="currentColor">
                                    <path
                                        d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h5v-1H4a1 1 0 01-1-1V3a1 1 0 011-1h5v2.5A1.5 1.5 0 0010.5 6H13v2h1V6L9 1z" />
                                    <path fill-rule="evenodd"
                                        d="M15.854 10.146a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708l1.146 1.147 2.646-2.647a.5.5 0 01.708 0z"
                                        clip-rule="evenodd" />
                                </svg><span>Create Invoice</span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <table class="table table-striped TableHover" style="width:100%" id="InvoicesTable">
                            <thead>
                                <tr class="table-header">
                                    <td>Status</td>
                                    <td>Invoice date</td>
                                    <td>Due date</td>
                                    <td>Invoice number</td>
                                    <td>Customer</td>
                                    <td>Total</td>
                                    <td>Late Fees</td>
                                    <td>Amount Due</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <i class="modal-footer">
                </i>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="CustomerModal" tabindex="-1" role="dialog" aria-labelledby="CustomerModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CustomerModalLongTitle">Invoice Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            onclick="ResetModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>

                </div>
            </div>
        </div>
        <!-- ***************************************************** Payment Modal ********************************************************** -->
        <div class="modal fade" id="InvoicePaymentModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="InvoicePaymentLongTitle">Record Payment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            ng-click="ResetModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="InvoicePayment">
                            <div id="PaymentError" class="alert alert-dismissible" role="alert"
                                style="text-align:center;">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <span id="PaymentMessage"></span>
                            </div>
                            <div class="">

                                <label style="padding-right: 10px; text-align:left">Total Amount Due</label>
                                <label id="TotalAmountDue">{{CurrencySymbol}}{{Invoice.InvoicePayment.Balance}}</label>
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="ActualPaymentDate" class="col-form-label lableRightAlign">Payment
                                            Date</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input type="text" class="form-control" data-provide="datepicker"
                                        id="ActualPaymentDate" ng-model="FormActualPaymentDate"
                                        ng-change="PaymentDateChange()">
                                            <small id="ActualPaymentDate_error" class="form-text error-field"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="PaymentMethod" class="col-form-label lableRightAlign">Payment
                                            Method</label>
                                    </div>
                                    <div style="width:260px;">
                                        <select class="form-control" id="PaymentMethod"
                                            ng-model="InvoicePayment.PaymentMethod">
                                            <option>Select</option>
                                            <option>Cash</option>
                                            <option>Bank Trasnfer</option>
                                            <option>Mobile Payment</option>
                                            <option>Other</option>
                                        </select>
                                        <small id="PaymentMethod_error" class="form-text error-field"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="incomeAccount" class="col-form-label lableRightAlign">Income account</label>
                                    </div>
                                    <div style="width:260px;">
                                        <select class="form-control jc-select" ng-model="InvoicePayment.IncomeAccount" ng-change="lineValueChange($index)" id="IncomeAccount">
                                            <option ng-repeat="account in IncomeAccounts" ng-value="account.UniqueID">{{account.AccountName}}</option>
                                        </select>
                                        <small id="IncomeAccount_error" class="form-text error-field"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="PaymentDetails" class="col-form-label lableRightAlign">Payment
                                            Details</label>
                                    </div>
                                    <div style="width:260px;">
                                        <textarea class="form-control" rows="5" class="form-control" id="PaymentDetails"
                                            ng-model="InvoicePayment.PaymentDetails"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="AmountRecieved" class="col-form-label lableRightAlign">Amount
                                            Recieved
                                            {{CurrencySymbol}}</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="AmountRecieved"
                                            ng-blur="PaymentAmntOnChange()" placeholder=0.00
                                            ng-model="InvoicePayment.AmountRecieved" valid-number>
                                            <small id="AmountRecieved_error" class="form-text error-field"></small>

                                    </div>
                                </div>
                                <div class="form-group row"
                                    ng-show="Invoice.InvoiceHeader.InvoiceCurrency != Invoice.InvoiceHeader.CompanyCurrency">
                                    <div style="width:160px;">
                                        <label for="exchangeRate" class="col-form-label lableRightAlign">Exchange
                                            Rate:</label></div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="exchangeRate"
                                            ng-model="InvoicePayment.ExchangeRate" valid-number
                                            ng-change="exchangeRateChange">
                                        <small id="" class="form-text"
                                            style="font-style: italic;; font-size: 12px;">{{Invoice.InvoiceHeader.InvoiceCurrency}}
                                            to {{Invoice.InvoiceHeader.CompanyCurrency}}</small>
                                    </div>
                                </div>
                                <div id="NextPaymentDateDiv" class="form-group row" style="display: none">
                                    <div style="width:160px;">
                                        <label for="NextPaymentDate" class="col-form-label lableRightAlign">Next Payment
                                            Date</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input type="text" class="form-control" data-provide="datepicker"
                                        id="NextPaymentDate" ng-model="FormNextPaymentDate" ng-change="NextPaymentDateChange()">
                                            <small id="NextPaymentDate_error" class="form-text error-field"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button role="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                        <button role="button" class="btn btn-success" id="SubmitPayment"
                            ng-click="SubmitPayment()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal: Delete invoice -->
        <div class="modal fade" id="DeleteInvoice" tabindex="-1" role="dialog" aria-labelledby="DeleteInvoicesLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteInvoicesLabel">Delete Invoices</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete: Invoice #<span>
                            {{DeleteInvoice.InvoiceHeader.InvoiceNumber}}</span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="deleteBtn" type="button" class="btn btn-danger"
                        ng-click="RemoveInvoice()">Delete</button>
                </div>
            </div>
        </div>
    </div>
        <!--********************************************************************************************************************************-->
</form>