<form role="form" name="invoiceForm" id="invoiceForm" novalidate>

    <div id="NewInvoice" style="display: none;">
        <label class="form-title-label" id="displayState"></label>
        <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span id="message"></span>
        </div>
        <div class="form-group row" style=" margin-bottom: 0;" id="InvoiceHederSection">

            <!--************************************ Bill To section ***************************************************************************-->
            <div class="form-group col-md-6 container-fluid">
                <div class="round-border-full-height">
                    <form class="form-horizontal">
                        <label for="" class="col-form-label" style=" text-align:right; padding-right:5px;">Bill
                            to:</label>
                        <div class="form-group row">

                            <div id="BillCustomer" class="col-md-12">
                                <!-- Button trigger modal -->
                                <button id="AddCstBtn" type="button" class="btn btn-default add-person-button"
                                    ng-show="Invoice.Customer.CustomerName == ''" data-toggle="modal"
                                    data-target="#CustomerModal" ng-click="AddCustomer()">
                                    <div>
                                        <svg viewBox="0 0 16 16" class="bi bi-person-plus" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                        </svg>
                                    </div>
                                    <span class="">Add Customer</span>
                                </button>
                            </div>
                            <div id="BillCustomertxt" ng-show="Invoice.Customer.CustomerName != ''" class="col-md-10"
                                style="font-size: 16px; padding-left:25px;">
                                <h5 id="h_Customer">{{Invoice.Customer.CustomerName}}</h5>
                                <h6 id="h_FullName">{{Invoice.Customer.ContactFname}} {{Invoice.Customer.ContactLname}}
                                </h6>
                                <h6 id="h_AddressLine1">{{Invoice.Customer.Billing.AddressLine1}}</h6>
                                <h6 id="h_AddressLine2">{{Invoice.Customer.Billing.AddressLine2}}</h6>
                                <h6 id="h_City_ZipCode">{{Invoice.Customer.Billing.ZipCode}}
                                    {{Invoice.Customer.Billing.City}}</h6>
                                <h6 id="h_Country">{{Invoice.Customer.Billing.Country}}</h6>
                                <h6 id="h_Email" ng-show="Invoice.Customer.Email != ''"><span
                                        class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    {{Invoice.Customer.Email}}</h6>
                                <h6 id="h_Phone" ng-show="Invoice.Customer.Phone != ''"><span
                                        class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                                    {{Invoice.Customer.Phone}}
                                </h6>
                                <button id="editCustomer" class="btn btn-link btn-sm" data-toggle="modal"
                                    ng-click="EditCustomer()" data-target="#CustomerModal"
                                    style="font-size: 15px; margin-top:5px; color: blue;">
                                    Edit {{Invoice.Customer.CustomerName}}</button><a>|</a>
                                <button id="addDifCustomer" class="btn btn-link btn-sm" data-toggle="modal"
                                    data-target="#CustomerModal" style="font-size: 15px; margin-top:5px; color: blue;"
                                    ng-click="AddCustomer()">Add
                                    Different Customer</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--*************************************************************************************************************************************-->

            <!--************************************ Invoice Header Details section ***************************************************************-->
            <div class="form-group col-md-6 container-fluid">
                <div class="round-border-full-height">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label for="invoiceNumber" class="col-form-label  col-md-5"
                                style="text-align:right;">Invoice
                                Number</label>
                            <div class="col-md-7">
                                <input disabled class="form-control" type="text" id="invoiceNumber"
                                    ng-model="Invoice.InvoiceHeader.InvoiceNumber">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="PO_SO_Number" class="col-form-label col-md-5" style="text-align:right;">Order
                                Number</label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="PO_SO_Number"
                                    ng-model="Invoice.InvoiceHeader.OrderNumber">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="invoiceDate" class="col-form-label col-md-5" style="text-align:right;">Invoice
                                Date</label>
                            <div class="col-md-7 ">
                                <input type="text" class="form-control" data-provide="datepicker" id="invoiceDate"
                                    ng-model="FormInvoiceDate" ng-change="InvoiceDateOnChange()">

                                <!--
                                <input type="text" class="form-control" data-provide="datepicker" id="invoiceDate"
                                    ng-model="Invoice.InvoiceHeader.InvoiceDate" ng-change="DateChange()">
                                -->
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="paymentDate" class="col-form-label col-md-5" style="text-align:right;">Payment Terms</label>
                            <div class="col-md-7">
                                <select id="PaymentTerm" name="PaymentTerm" class="form-control" ng-model="InvoicePaymentTerms.UniqueID" ng-change="PaymentTermOnChange()">
                                    <option ng-repeat="PaymentTerm in PaymentTermsList" value="{{PaymentTerm.UniqueID}}">{{PaymentTerm.PaymentTerm}}</option>
                                </select>
                                <small id="" ng-show="Invoice.InvoiceHeader.PaymentTerms.LatePaymentRate > 0" class="form-text">Late payment rate: {{Invoice.InvoiceHeader.PaymentTerms.LatePaymentRate}}%</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="paymentDate" class="col-form-label col-md-5" style="text-align:right;">Payment
                                Date</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" data-provide="datepicker" id="paymentDate"
                                    ng-model="FormPaymentDate" ng-change="PaymentDateOnChange()">
                                <!--
                                    <input type="text" class="form-control" data-provide="datepicker" id="paymentDate"
                                    ng-model="Invoice.InvoiceHeader.PaymentDate" ng-change="DateChange()">
                                -->
                            </div>
                        </div>

                       
                    </form>
                </div>
            </div>
            <!--******************************************************************************************************************-->
        </div>
        <!--************************************ Invoice Line Items section ***************************************************************-->
        <div class="form-group" id="InvoiceLinesSection">
            <div class="round-border">
                <table id="InvoiceItems" class=" table order-list">
                    <thead>
                        <tr>
                            <td>Item</td>
                            <td>Description</td>
                            <td>Quantity</td>
                            <td>price</td>
                            <td>Total Amount</td>
                            <td>Tax</td>
                            <td style="display: none;">Tax Rate</td>
                            <td ng-show="InvoiceTaxes[0].Name != null">Tax Amount</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in InvoiceLineItems track by $index" style="height: 500px;">
                        <tr>
                            <td><input type="text" class="form-control" ng-model="item.Item" /></td>
                            <td><textarea type="text" class="form-control" ng-model="item.Description" rows="4"
                                    cols="50"></textarea></td>
                            <td><input type="number" step="0.1" class="form-control" placeholder="0"
                                    ng-model="item.Quantity" ng-change="lineValueChange($index)" /></td>
                            <td><input type="text" class="form-control" placeholder="0.00" ng-model="item.Price"
                                    ng-change="lineValueChange($index)" valid-number /></td>
                            <td><label>{{CurrencySymbol}}{{item.Amount}}</label></td>
                            <td>
                                <select ng-model="item.TaxName" ng-change="lineValueChange($index)"
                                    class="form-control">
                                    <option ng-value="" ng-show="item.TaxName != ''"></option>
                                    <option ng-repeat="tax in Tax" ng-value="tax.Name">{{tax.Name}} {{tax.TaxRate}}%
                                    </option>
                                </select>
                            </td>
                            <td style="display: none;"><input type="number" step=".01" readonly class="form-control"
                                    placeholder="0.00" ng-model="item.TaxRate" ng-change="lineValueChange($index)" />
                            </td>
                            <td ng-show="InvoiceTaxes[0].Name != null">
                                <label>{{CurrencySymbol}}{{item.TaxAmount}}</label>
                            </td>
                            <td><i ng-click="deleteItem($index)"><span class="glyphicon glyphicon-trash"></span></i>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td colspan="6" style="text-align: left;">
                                <button style="width:100%;" class="btn btn-lg btn-default" id="addrowBtn"
                                    ng-click="addItem()">
                                    <span class="glyphicon glyphicon-plus"></span> Add Item</button>
                                <div id="SelectItems" class="form-group  roundedBorder">

                                    <table class="table table-striped" style="width:100%" id="ItemsRslt">
                                        <thead style="width:100%">
                                            <tr>
                                                <td>Item</td>
                                                <td>Description</td>
                                                <td>Price</td>
                                            </tr>
                                        </thead>
                                        <tbody id="ItemsRsltBody">

                                        </tbody>
                                        <tfoot>

                                        </tfoot>
                                    </table>
                                    <div class="">
                                        <button style="width: 200px" class="btn btn-primary" id="addNewPrdct"
                                            ng-click="AddNonCatalogItem()">
                                            <span class="glyphicon glyphicon-plus"></span>Add New Item</button>
                                        <button style="width: 200px" class="btn btn-secondary" id="CancelAddNewPrdct"
                                            ng-click="CancelAddNewPrdct()">
                                            <span></span>Close</button>
                                    </div>

                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--****************************************************************************************************************************-->
        <!--************************************ Invoice Totals section ***************************************************************-->
        <div class="form-group round-border-full-width" style="float:right; margin-bottom: 50px;"
            id="InvoiceTotalsSection">
            <div class="container-fluid">
                <div class="modal-footer" style="font-size: 18px;">
                    <label style="padding-right: 10px; text-align: right">Sub Total: </label>
                    <label id="SubTotalAmount">{{CurrencySymbol}}{{Invoice.InvoiceHeader.InvoiceNetAmount}}</label>
                </div>
                <div class="modal-footer" ng-repeat="tax in Invoice.InvoiceTaxes track by $index"
                    style="font-size: 18px;">
                    <label style="padding-right: 10px; text-align: right">{{tax.Name}} ({{tax.TaxRate}}%): </label>
                    <label>{{CurrencySymbol}}{{tax.TotalTaxAmount}}</label>
                </div>
                <div class="modal-footer" style="font-size: 18px;"
                    ng-show="Invoice.InvoiceHeader.InvoiceCurrency != Invoice.InvoiceHeader.CompanyCurrency">
                    <label style="padding-right: 5px; text-align: right" class="col-sm-5">Total
                        ({{Invoice.InvoiceHeader.CompanyCurrency}}) at exchange rate:</label>

                    <div class="input-group mb-3">
                        <input class="form-control col-sm-10" style="margin-right: 10px;" type="text"
                            id="invoiceExchangeRate" ng-model="Invoice.InvoiceHeader.ExchangeRate" valid-number
                            ng-change="exchangeRateChange()">
                        <span tabindex="0" data-toggle="popover" data-trigger="focus" title="Exchange Rate"
                            data-content="Example: If your company currency is USD and you select ZWD above when 1 USD = 10 ZWD , then you should enter 0.1"
                            class="infoIcon input-group-append glyphicon glyphicon-question-sign"
                            aria-hidden="true"></span>
                    </div>

                    <label id="TotalAmount"> {{CompanyCurrency.Symbol}}{{ConvertedAmount}}</label>
                </div>
                <div class="modal-footer" style="font-weight: bold;">
                    <label style="padding-right: 5px; text-align: right">Invoice Total</label>
                    <select id="Currency" name="Currency" class="form-control col-sm-5" style="margin-right: 10px;"
                        ng-model="Invoice.InvoiceHeader.InvoiceCurrency" ng-change="CurrencyChange()">
                        <option ng-repeat="currency in Currencies" ng-value="currency.ISO">{{currency.ISO}}
                            ({{currency.Symbol}}) - {{currency.Currency}}</option>
                    </select>
                    <label id="TotalAmount"> {{CurrencySymbol}}{{Invoice.InvoiceHeader.InvoiceAmount}}</label>
                </div>

                <div id="buttons" class="form-group bottomDiv">
                    <div class="row float-right">

                        <a href="#!invoices" role="button" id="Cancel" class="btn btn-secondary"
                            style="margin-right: 10px;">Close</a>

                        <button id="DiscardChanges" class="btn btn-warning" style="margin-right: 10px; display:none;"
                            ng-click="DiscardChanges()">Discard
                            Changes</button>
                        <button id="SaveDraft" type="submit" class="btn btn-info" style="margin-right: 10px;"
                            ng-click="SaveDraft()">Save
                            Draft</button>
                        <button id="InvoicePreview" type="submit" class="btn btn-secondary" style="margin-right: 10px;"
                            ng-click="InvoicePreview()">Preview Invoice</button>

                        <button id="InvoiceCreate" class="btn btn-primary" style="margin-right: 10px;"
                            ng-click="CreateInvoice()">Save & Continue</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--****************************************************************************************************************************-->
    </div>
    <!-- ***************************************************** Customer Modal ********************************************************** -->
    <div class="modal fade" id="CustomerModal" tabindex="-1" role="dialog" aria-labelledby="CustomerModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CustomerModalLongTitle">Customer Details</h5>
                    <button type="button" id="xCloseCustomerModal" class="close" data-dismiss="modal" aria-label="Close"
                        ng-click="CloseCustomerModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="displayCustomers" class="form-group">
                        <table class="table table-striped" style="width:100%" id="customerRslt">
                            <thead>
                                <tr class="table-header" style="width:100%">
                                    <td>Customer Name</td>
                                    <td>Contact Name</td>
                                    <td>Phone</td>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div id="AddCustomers" name="Customer">
                        <div class="">
                            <ul class="nav nav-tabs" id="tab-next-prev" role="tablist" style="display:none;">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab"
                                        aria-controls="tab1" aria-selected="true"></a>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab"
                                        aria-controls="tab2"></a>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab"
                                        aria-controls="tab3"></a>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-next-prev-content">
                                <div class="tab-pane fade show active plainBackground" id="tab1" role="tabpanel"
                                    aria-labelledby="tab1-tab" style="margin-top:0px;">
                                    <h3>Contact Details</h3>
                                    <div id="Contact">
                                        <div class="">
                                            <div class="form-group row">
                                                <div style="width:160px;">
                                                    <label for="Customer"
                                                        class="col-form-label lableRightAlign">Customer</label>
                                                </div>
                                                <div style="width:260px;">
                                                    <input class="form-control" type="text" id="Customer"
                                                        ng-model="Customer.CustomerName"
                                                        placeholder="Business or Person">
                                                    <small id="Customer_error" class="form-text error-field"></small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div style="width:160px;">
                                                    <label for="FirstName"
                                                        class="col-form-label lableRightAlign">Contact</label>
                                                </div>
                                                <div style="width:260px;">
                                                    <input class="form-control" type="text" id="FirstName"
                                                        ng-model="Customer.ContactFname" placeholder="First Name">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div style="width:160px;">
                                                    <label for="LastName"
                                                        class="col-form-label lableRightAlign"></label>
                                                </div>
                                                <div style="width:260px;">
                                                    <input class="form-control" type="text" id="LastName"
                                                        ng-model="Customer.ContactLname" placeholder="Last Name">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div style="width:160px;">
                                                    <label for="Email"
                                                        class="col-form-label lableRightAlign">Email</label>
                                                </div>
                                                <div style="width:260px;">
                                                    <input class="form-control" type="email" id="Email"
                                                        name="customerEmail" ng-model="Customer.Email" required>

                                                    <small id="Email_error" class="form-text error-field"></small>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div style="width:160px;">
                                                    <label for="Phone"
                                                        class="col-form-label lableRightAlign">Phone</label>
                                                </div>
                                                <div style="width:260px;">
                                                    <input class="form-control" type="text" id="Phone"
                                                        ng-model="Customer.Phone">

                                                    <small id="Phone_error" class="form-text error-field"></small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" role="button" class="btn btn-secondary btn-tab-next"
                                            id="nextTab">Next</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            id="CloseCustomerModal1" ng-click="CloseCustomerModal()">Cancel</button>
                                    </div>
                                </div>

                                <div class="tab-pane fade plainBackground" id="tab2" role="tabpanel"
                                    aria-labelledby="tab2-tab">
                                    <h3>Billing Details</h3>
                                    <div id="Billing">
                                        <div class="">
                                            <div class="form-group row">
                                                <div style="width:160px;">
                                                    <label for="Currency"
                                                        class="col-form-label lableRightAlign">Currency</label>
                                                </div>
                                                <div style="width:260px;">
                                                    <select id="Currency" name="Currency" class="form-control"
                                                        ng-model="Customer.Currency">
                                                        <option ng-value="" ng-show="Customer.Currency != ''"></option>
                                                        <option ng-repeat="currency in Currencies"
                                                            value="{{currency.ISO}}">
                                                            {{currency.ISO}} ({{currency.Symbol}}) -
                                                            {{currency.Currency}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div style="width:160px;">
                                                    <label for="AddressLine1"
                                                        class="col-form-label lableRightAlign">Address
                                                        Line 1</label>
                                                </div>
                                                <div style="width:260px;">
                                                    <input class="form-control" type="text" id="AddressLine1"
                                                        ng-model="Customer.Billing.AddressLine1">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div style="width:160px;">
                                                    <label for="AddressLine2"
                                                        class="col-form-label lableRightAlign">Address
                                                        Line 2</label>
                                                </div>
                                                <div style="width:260px;">
                                                    <input class="form-control" type="text" id="AddressLine2"
                                                        ng-model="Customer.Billing.AddressLine2">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div style="width:160px;">
                                                    <label for="City"
                                                        class="col-form-label lableRightAlign">City</label>
                                                </div>
                                                <div style="width:260px;">
                                                    <input class="form-control" type="text" id="City"
                                                        ng-model="Customer.Billing.City">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div style="width:160px;">
                                                    <label for="ZipCode"
                                                        class="col-form-label lableRightAlign">Postal/ZIP
                                                        Code</label>
                                                </div>
                                                <div style="width:260px;">
                                                    <input class="form-control" type="text" id="ZipCode"
                                                        ng-model="Customer.Billing.ZipCode">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div style="width:160px;">
                                                    <label for="Country"
                                                        class="col-form-label lableRightAlign">Country</label>
                                                </div>
                                                <div style="width:260px;">
                                                    <select id="Country" name="Country" class="form-control"
                                                        ng-model="Customer.Billing.Country">
                                                        <option ng-value="" ng-show="Customer.Billing.Country != ''">
                                                        </option>
                                                        <option ng-repeat="country in Countries"
                                                            ng-value="country.Country">{{country.Country}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" role="button" class="btn btn-secondary btn-tab-prev">Previous</a>
                                        <a href="#" role="button" class="btn btn-secondary btn-tab-next">Next</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            id="CloseCustomerModal2" ng-click="CloseCustomerModal()">Cancel</button>
                                    </div>
                                </div>

                                <div class="tab-pane fade plainBackground" id="tab3" role="tabpanel"
                                    aria-labelledby="tab3-tab">
                                    <h3>Shipping Details</h3>
                                    <div id="Shipping">
                                        <div class="">
                                            <div class="form-group row">
                                                <div class="checkbox" style="margin-left: 10px;">
                                                    <label>
                                                        <input id="sameASbilling" type="checkbox"
                                                            ng-model="Customer.Shipping.SameAsBilling"
                                                            ng-change="SameAsBillingOnChange()">Same as
                                                        billing
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="billingInfo">
                                                <div class="form-group row">
                                                    <div style="width:160px;">
                                                        <label for="S_AddressLine1"
                                                            class="col-form-label lableRightAlign">Address Line
                                                            1</label>
                                                    </div>
                                                    <div style="width:260px;">
                                                        <input class="form-control" type="text" id="S_AddressLine1"
                                                            ng-model="Customer.Shipping.AddressLine1">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div style="width:160px;">
                                                        <label for="S_AddressLine2"
                                                            class="col-form-label lableRightAlign">Address Line
                                                            2</label>
                                                    </div>
                                                    <div style="width:260px;">
                                                        <input class="form-control" type="text" id="S_AddressLine2"
                                                            ng-model="Customer.Shipping.AddressLine2">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div style="width:160px;">
                                                        <label for="S_City"
                                                            class="col-form-label lableRightAlign">City</label>
                                                    </div>
                                                    <div style="width:260px;">
                                                        <input class="form-control" type="text" id="S_City"
                                                            ng-model="Customer.Shipping.City">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div style="width:160px;">
                                                        <label for="S_ZipCode"
                                                            class="col-form-label lableRightAlign">Postal/ZIP
                                                            Code</label>
                                                    </div>
                                                    <div style="width:260px;">
                                                        <input class="form-control" type="text" id="S_ZipCode"
                                                            ng-model="Customer.Shipping.ZipCode">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div style="width:160px;">
                                                        <label for="S_Country"
                                                            class="col-form-label lableRightAlign">Country</label>
                                                    </div>
                                                    <div style="width:260px;">
                                                        <select id="S_Country" name="Country" class="form-control"
                                                            ng-model="Customer.Shipping.Country">
                                                            <option ng-value=""
                                                                ng-show="Customer.Shipping.Country != ''"></option>
                                                            <option ng-repeat="country in Countries"
                                                                ng-value="country.Country">{{country.Country}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" role="button" class="btn btn-secondary btn-tab-prev">Previous</a>
                                        <button id="SaveCustomer" data-dismiss="modal"
                                            class="btn btn-primary btn-tab-next" ng-click="SaveCustomer()"
                                            ng-show="!Customer.UniqueID">Save</button>
                                        <button id="UpdateCustomer" data-dismiss="modal"
                                            class="btn btn-success btn-tab-next" ng-click="UpdateCustomer()"
                                            ng-show="Customer.UniqueID">Update</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            id="CloseCustomerModal2" ng-click="CloseCustomerModal()">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" id="AddCustomerFooter">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="CloseCustomerModal">Cancel</button>
                        <button id="AddCustomerBtn" type="button" class="btn btn-primary"
                            ng-click="showAddCustomer()">Add New Customer</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <!--********************************************************************************************************************************-->
    <!-- ***************************************************** Payment Modal ********************************************************** -->

    <div class="modal fade" id="InvoicePaymentModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="InvoicePaymentLongTitle">Record Payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ResetModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="InvoicePayment">
                        <div id="PaymentError" class="alert alert-dismissible" role="alert" style="text-align:center;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span id="PaymentMessage"></span>
                        </div>
                        <div class="">

                            <label style="padding-right: 10px; text-align:left">Total Amount Due</label>
                            <label id="TotalAmountDue">{{CurrencySymbol}}{{DisplayAmountDue}}</label>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="ActualPaymentDate" class="col-form-label lableRightAlign">Payment
                                        Date</label>
                                </div>
                                <div style="width:260px;">
                                    <input type="text" class="form-control" data-provide="datepicker"
                                        id="ActualPaymentDate" ng-model="FormActualPaymentDate"
                                        ng-change="PaymentDateChange()">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="PaymentMethod" class="col-form-label lableRightAlign">Payment
                                        Method</label>
                                </div>
                                <div style="width:260px;">
                                    <select class="form-control" id="PaymentMethod"
                                        ng-model="InvoicePayment.PaymentMethod">
                                        <option>Select</option>
                                        <option>Cash</option>
                                        <option>Bank Trasnfer</option>
                                        <option>Mobile Payment</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="IncomeAccount" class="col-form-label lableRightAlign">Income
                                        account</label>
                                </div>
                                <div style="width:260px;">
                                    <select class="form-control jc-select" ng-model="InvoicePayment.IncomeAccount"
                                        id="IncomeAccount">
                                        <option ng-repeat="account in IncomeAccounts" ng-value="account.UniqueID">
                                            {{account.AccountName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="PaymentDetails" class="col-form-label lableRightAlign">Payment
                                        Details</label>
                                </div>
                                <div style="width:260px;">
                                    <textarea class="form-control" rows="5" class="form-control" id="PaymentDetails"
                                        ng-model="InvoicePayment.PaymentDetails"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="AmountRecieved" class="col-form-label lableRightAlign">Amount Recieved
                                        {{CurrencySymbol}}</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control" type="text" id="AmountRecieved"
                                        ng-blur="PaymentAmntOnChange()" placeholder=0.00
                                        ng-model="InvoicePayment.AmountRecieved" valid-number>
                                </div>
                            </div>
                            <div class="form-group row"
                                ng-show="Invoice.InvoiceHeader.InvoiceCurrency != Invoice.InvoiceHeader.CompanyCurrency">
                                <div style="width:160px;">
                                    <label for="exchangeRate" class="col-form-label lableRightAlign">Exchange
                                        Rate:</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control" type="text" id="exchangeRate"
                                        ng-model="InvoicePayment.ExchangeRate" ng-change="exchangeRateChange"
                                        valid-number>
                                    <small id="" class="form-text"
                                        style="font-style: italic;; font-size: 12px;">{{Invoice.InvoiceHeader.InvoiceCurrency}}
                                        to {{Invoice.InvoiceHeader.CompanyCurrency}}</small>
                                </div>
                            </div>
                            <div id="NextPaymentDateDiv" class="form-group row" style="display: none">
                                <div style="width:160px;">
                                    <label for="NextPaymentDate" class="col-form-label lableRightAlign">Next Payment
                                        Date</label>
                                </div>
                                <div style="width:260px;">
                                    <input type="text" class="form-control" data-provide="datepicker"
                                        id="NextPaymentDate" ng-model="FormNextPaymentDate"
                                        ng-change="NextPaymentDateChange()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button role="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    <button role="button" class="btn btn-success" id="SubmitPayment"
                        ng-click="SubmitPayment()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!--********************************************************************************************************************************-->
    <!--******************************************************** Modal: delete payment *************************************************-->
    <div class="modal fade" id="DeletePayment" tabindex="-1" role="dialog" aria-labelledby="DeletePaymentLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeletePaymentLabel">Delete Payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this payment of:<span>
                            {{CurrencySymbol}}{{DeletePayment.AmountRecieved}}</span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="deleteBtn" type="button" class="btn btn-danger"
                        ng-click="RemovePayment()">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!--********************************************************************************************************************************-->
    <!-- ***************************************************** Invoice Preview ********************************************************** -->
    <div id="viewInvoice" class="container" style="display: none;  width: 860px;height: auto;">

        <div class="row" id="Preview_Buttons" style="padding-bottom:10px;">
            <div class="col-md-5">
                <label class="form-title-label">Invoice #{{Invoice.InvoiceHeader.InvoiceNumber}}</label>
            </div>
            <div class="col-md-7">
                <a href="#!invoices" role="button" id="Preview_Cancel" class="btn btn-secondary"
                    style="float:right; margin-right: 10px;">Close</a>
                <button id="Preview_InvoiceCreate" class="btn btn-primary"
                    style="float:right; margin-right: 10px; display:none;" ng-click="CreateInvoice()">Save &
                    Continue</button>

                <button id="Preview_DiscardChanges" class="btn btn-warning"
                    style="float:right; margin-right: 10px; display:none;" ng-click="DiscardChanges()">Discard
                    Changes</button>
            </div>
        </div>
        <div id="Preview_Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span id="Preview_message"></span>
        </div>

        <div id="InvoiceSummary" class="row">
            <div name="invStatus" class="form-group col-sm-2">
                <div>
                    <label for="statusBadge" style="font-size: 15px;">Status</label>
                </div>
                <div><span id="statusBadge" class="badge badge-pill badge-primary"
                        style="font-size: 20px;">{{Invoice.InvoiceState}}</span></div>
            </div>
            <div name="invCustomer" class="form-group col-sm-5">
                <div>
                    <label for="invCustomer" style="font-size: 15px;">Customer</label>
                </div>
                <div> <label id="invCustomer">{{Invoice.Customer.CustomerName}}</label></div>
            </div>
            <div name="invAmount" class="form-group col-sm-3">
                <div>
                    <label for="statusBadge" style="font-size: 15px;">Amount due</label>
                </div>
                <div><label id="invDueDate">{{CurrencySymbol}}{{InvoiceBalance}}</label>
                </div>
            </div>
            <div name="invDueDate" class="form-group col-sm-2">
                <div>
                    <label for="invDueDate" style="font-size: 15px;">Due</label>
                </div>
                <div><label id="invDueDate">{{PaymentDisplayDate}}</label>
                </div>
            </div>

        </div>
        <div id="InvoiceCreation" class="row round-border" class="row col-md-12">
            <div style="padding: 0;" class="col-md-1">
                <div style="padding: 0; text-align: center;" class="col-md-1" ;>
                    <svg class="bi bi-file-earmark-check" width="60px" height="60px" style="color: #6c757d;"
                        viewBox="0 0 16 16" fill="currentColor">
                        <path
                            d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h5v-1H4a1 1 0 01-1-1V3a1 1 0 011-1h5v2.5A1.5 1.5 0 0010.5 6H13v2h1V6L9 1z" />
                        <path fill-rule="evenodd"
                            d="M15.854 10.146a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708l1.146 1.147 2.646-2.647a.5.5 0 01.708 0z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
            <div class="col-md-7">
                <div><span>Create Invoice</span></div>
                <div ng-show="Invoice.InvoiceState != 'Draft'"><span style="font-size: 15px;">Invoice created on
                        {{Preview_InvoiceCreationDate}}</span></div>
                <div ng-show="Invoice.InvoiceState == 'Draft'"><span style="font-size: 15px;">Invoice still in <span
                            style="font-weight: bold;">draft</span></span></div>
            </div>

            <div class="col-md-4">
                <button
                    ng-show="Invoice.InvoiceState != 'Paid"
                    id="EditInvoice" class="btn btn-secondary" style="float:right; margin-right:5px;"
                    ng-click="EditInvoice()">Edit
                    Invoice</button>
            </div>

        </div>
        <div id="InvoiceSend" class="row round-border" ng-show="Invoice.InvoiceState != 'Draft'">

            <div style="padding: 0;" class="col-md-1">
                <div style="padding: 0; text-align: center;" class="col-md-1" ;>
                    <svg class="bi bi-cursor" width="60px" height="60px" viewBox="0 0 16 16" fill="currentColor"
                        style="color: #007bff;">
                        <path fill-rule="evenodd"
                            d="M14.082 2.182a.5.5 0 01.103.557L8.528 15.467a.5.5 0 01-.917-.007L5.57 10.694.803 8.652a.5.5 0 01-.006-.916l12.728-5.657a.5.5 0 01.556.103zM2.25 8.184l3.897 1.67a.5.5 0 01.262.263l1.67 3.897L12.743 3.52 2.25 8.184z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
            <div class="col-md-5">
                <div><span>Send Invoice</span></div>
                <div ng-show="Invoice.InvoiceSendDate !='' && Invoice.InvoiceSendDate !=null"><span
                        style="font-size: 15px;">Invoice last downloaded on
                        {{Preview_InvoiceSendDate}}</span></div>
                <div ng-show="Invoice.InvoiceState =='To send'"><span style="font-size: 15px;">Download and send
                        invoice.</span></div>
            </div>
            <div class="col-md-6">
                <button ng-show="Invoice.InvoiceState =='To send'" id="Preview_SkipExportInvoice" type="submit"
                    class="btn btn-secondary" ng-click="SkipDownload()"
                    style="float: right; margin: 10px;">Skip</button>
                <button id="Preview_ExportInvoice" type="submit" class="btn btn-primary" ng-click="DownloadInvoice()"
                    style="float: right; margin: 10px;">Download</button>
                <button id="Preview_ExportInvoice" type="submit" class="btn btn-primary" ng-click="PrintInvoice()"
                    style="float: right; margin: 10px;">Print</button>
            </div>

        </div>
        <div id="InvoicePaymentDetails" class="round-border-non-row" ng-show="Invoice.InvoiceState != 'Draft'">
            <div class="row" style="padding:10px;">
                <div style="padding: 0; text-align: center;" class="col-md-1">
                    <span class="oi oi-dollar" style="font-size: 45px;color: #28a745;"></span>
                </div>
                <div class="col-md-7">
                    <div><span>Get Paid</span></div>
                    <div ng-show="Invoice.InvoiceState != 'Paid'"><span style="font-size: 15px;">Balance due:
                            <span>{{CurrencySymbol}}{{InvoiceBalance}}</span> , due on
                            {{Preview_DueDate}} </span>
                    </div>
                    <div ng-show="Invoice.InvoiceState != 'Paid'"><span style="font-size: 15px;">Late payment fee:
                        <span class="text-red">{{CurrencySymbol}}{{LateFee}}</span> , overdue for <span class="text-red">{{DaysOverDue}} days</span>
                        
                    </div>
                    <div ng-show="Invoice.InvoiceState == 'Paid'"><span style="font-size: 15px;">Invoice fully paid on
                            <span>{{Preview_ActualPaymentDate}}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <button id="RecordPayment" type="submit" class="btn btn-success" ng-click="RecordPayment()"
                        style="float: right; margin: 10px;" data-toggle="modal" data-target="#InvoicePaymentModal"
                        ng-show="Invoice.InvoiceState != 'Paid'">Record
                        Payment</button>
                </div>
            </div>
            <div style=" border-bottom: solid; padding-top: 15px; border-width: thin; border-color: darkgray"
                ng-show="Invoice.InvoicePayment.PaymentStatus != 'Pending'"></div>
            <div style="padding-top: 15px;" ng-show="Invoice.InvoicePayment.PaymentStatus != 'Pending'">
                <div><span style="font-size: 18px;">Recieved Payments</span></div>
                <div>
                    <table class="table table-striped" style="width:100%" id="InvoicePayments">
                        <thead style="width:100%; font-size: 15px; font-weight: bold;">
                            <tr>
                                <td>Payment date</td>
                                <td>Payment method</td>
                                <td>Payment details</td>
                                <td>Amount paid</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody id="InvoicePaymentsBody" style="font-size: 15px;">

                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
        <!--Invoice PDF Preview -->
        <div id="invoicePdfPreview" class="invoicePreview" name="invoicePdfPreview">
            <div style="padding:15px;">
                <table id="print_InvoiceHeader" class="table table-borderless" style="margin-bottom: 0; padding: 0;">
                    <tbody style="font-size: 15px;">
                        <tr>
                            <td style="padding: 0;">
                                <h1 id="documentType" style="float: right;">INVOICE</h1>
                            </td>
                        </tr>
                        <tr>
                            <td id="invoiceHeader" style="width: 400px;">
                                <table id="print_CompanyInfo">
                                    <thead>
                                        <tr>
                                            <td style="padding: 0;">
                                                <span style="font-size: 18px; font-weight: bold;"
                                                    id="companyName">{{Settings.CompanyName}}</span>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="padding: 0;">
                                                <span id="addrressLine1">{{Settings.AddressLine1}}</span><br />
                                                <span id="addrressLine2">{{Settings.AddressLine2}}</span> <br />
                                                <span id="addrressLine3">{{Settings.ZipCode}} {{Settings.City}}</span>
                                                <br />
                                                <span id="addrressLine4">{{Settings.Country}}</span> <br />
                                                <span id="contact">{{Settings.Phone}}</span> <br />
                                                <span id="website">{{Settings.Website}}<span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td id="companyLogo" style="padding-right: 0;">
                                <image alt="" ng-src="{{Settings.Logo}}"
                                    style="height: 100px;width: 200px;float: right;"></image>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div style="padding-left: 5px;">
                    <span id="BillTo">Bill To:</span>
                </div>
                <div class="form-group row">
                    <div class="col" style="padding-right: 25px;">
                        <table id="print_InvoiceCustomerInfo">
                            <thead>
                                <tr>
                                    <td>
                                        <span style="font-weight: bold; font-size: 18px;"
                                            id="companyName">{{Invoice.Customer.CustomerName}}</span>
                                    </td>
                                </tr>
                            </thead>
                            <tbody style="font-size: 15px;">
                                <tr>
                                    <td id="invoiceHeader">
                                        <p>
                                            <span id="addrressLine1">{{Invoice.Customer.Billing.AddressLine1}}</span>
                                            <br />
                                            <span id="addrressLine2">{{Invoice.Customer.Billing.AddressLine2}}</span>
                                            <br />
                                            <span id="addrressLine3">{{Invoice.Customer.Billing.ZipCode}}
                                                {{Invoice.Customer.Billing.City}}</span><br />
                                            <span id="addrressLine4"> {{Invoice.Customer.Billing.Country}}</span>
                                            <br />
                                            <span id="website">{{Invoice.Customer.Phone}}</span><span
                                                ng-show="Customer.Phone !=''">
                                                |
                                            </span><span id="website">{{Invoice.Customer.Email}}</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table id="print_InvoiceHeaderInfo" class="float-right">
                            <tbody style="font-size: 15px; width: fit-content;">
                                <tr>
                                    <td><span class="text-bold text-right table-noPadding">Invoice Number:</span></td>
                                    <td><span class="text-bold"
                                            style="padding-left:10px">{{Invoice.InvoiceHeader.InvoiceNumber}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="text-right">Invoice Date:</span></td>
                                    <td><span style="padding-left:10px">{{InvoiceDisplayDate}}</span>
                                    </td>
                                </tr>
                                <tr ng-show="Invoice.InvoiceHeader.PaymentTerms.PaymentPeriod > 0">
                                    <td><span class="text-right">Payment Terms:</span></td>
                                    <td><span style="padding-left:10px">Net {{Invoice.InvoiceHeader.PaymentTerms.PaymentPeriod}} days</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="text-right">Payment Date:</span></td>
                                    <td><span style="padding-left:10px">{{PaymentDisplayDate}}</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr style="font-size: 18px;" class="text-bold">
                                    <td><span class="text-right">Amount Due
                                            ({{Invoice.InvoiceHeader.InvoiceCurrency}}):
                                        </span></td>
                                    <td><span
                                            style="padding-left:10px">{{CurrencySymbol}}{{Invoice.InvoiceHeader.InvoiceAmount}}</span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>

                <table id="print_InvoiceItems" class="table table-striped">
                    <thead>
                        <tr id="itemsHeader" style="font-size: 20px; font:bold; color: white; background-color:#ff0585">
                            <th style="width: 200px; text-align: left">Item</th>
                            <th style="text-align: right">Quantity</th>
                            <th style="text-align: right">Price</th>
                            <th style="text-align: right">Amount</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in InvoiceLineItems track by $index" style="font-size: 15px; height: 500px;">
                        <tr>
                            <td>
                                <p><span
                                        style="font-weight: bold;">{{item.Item}}</span><br /><span>{{item.Description}}</span>
                                </p>
                            </td>
                            <td style="text-align: right"><span>{{item.Quantity}}</span></td>
                            <td style="text-align: right"><span>{{CurrencySymbol}}{{item.Price}}</span></td>
                            <td style="text-align: right"><span>{{CurrencySymbol}}{{item.Amount}}</span></td>
                        </tr>
                    </tbody>
                </table>
                <table id="print_InvoiceFooter" class="" style="width: auto; float: right; padding-right: 5px;">
                    <tbody style=" text-align: right;">
                        <tr>
                            <td>
                                <label style="padding-right: 10px; text-align: right; font-weight: bold;">Sub
                                    Total:</label>
                            </td>
                            <td>
                                <label
                                    id="SubTotalAmount">{{CurrencySymbol}}{{Invoice.InvoiceHeader.InvoiceNetAmount}}</label>
                            </td>
                        </tr>
                        <tr ng-repeat="tax in Invoice.InvoiceTaxes track by $index">
                            <td>
                                <label style="padding-right: 10px; text-align: right">{{tax.Name}} ({{tax.TaxRate}}%):
                                </label>
                            </td>
                            <td>
                                <label>{{CurrencySymbol}}{{tax.TotalTaxAmount}}</label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot style="text-align: right;">
                        <tr style="font-weight: bold;">
                            <td>
                                <label style="padding-right: 10px; text-align: right">Total Amount Due
                                    ({{Invoice.InvoiceHeader.InvoiceCurrency}}): </label>
                            </td>
                            <td>
                                <label
                                    id="TotalAmount">{{CurrencySymbol}}{{Invoice.InvoiceHeader.InvoiceAmount}}</label>
                            </td>
                        </tr>

                        <tr class="text-right" ng-show="Invoice.UniqueID != null" style="font-size: 15px;">
                            <td
                                ng-show="Invoice.InvoiceHeader.InvoiceCurrency != Settings.Currency && Settings.DisplayExchangeRate == true">
                                Total
                                ({{Invoice.InvoiceHeader.CompanyCurrency}}) at exchange rate
                                ({{Invoice.InvoiceHeader.ExchangeRate}}):</td>
                            <td
                                ng-show="Invoice.InvoiceHeader.InvoiceCurrency != Settings.Currency && Settings.DisplayExchangeRate == true">
                                {{InvoiceCompanyCurrency.Symbol}}{{ConvertedAmount}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
    <!--********************************************************************************************************************************-->
    <!-- ***************************************************** Invoice Technical Pane ********************************************************** -->
    <div id="TechnicalPane" class="form-group container-fluid" style="display: none;">
        <div class="form-group" style="background-color: yellow; margin-top:200px; padding:20px;">
            <h3>Technical Pane</h3>
            <div class="form-group row">
                <div style="width:160px;">
                    <label for="InvoiceObject" class="col-form-label lableRightAlign">Invoice Object</label>
                </div>
                <div style="width:260px;">
                    <textarea cols="50" rows="10" id="InvoiceObject"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div style="width:160px;">
                    <label for="InvoiceState" class="col-form-label lableRightAlign">Invoice State</label>
                </div>
                <div style="width:260px;">
                    <input type="text" id="InvoiceState"></input>
                </div>
            </div>
            <div class="form-group row">
                <div style="width:160px;">
                    <label for="InvoiceID" class="col-form-label lableRightAlign">Invoice ID</label>
                </div>
                <div style="width:260px;">
                    <input type="text" id="InvoiceID"></input>
                </div>
            </div>
            <div class="form-group row">
                <div style="width:160px;">
                    <label for="CustomerObject" class="col-form-label lableRightAlign">Customer Object</label>
                </div>
                <div style="width:260px;">
                    <textarea cols="50" rows="10" id="CustomerObject" ng-model="Customer"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!--********************************************************************************************************************************-->
</form>