<form role="form" name="transactionForm" novalidate>

  <div class="login-center row" id="LoginWindow">

    <div id="Alert" class="alert alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span id="message"></span>
    </div>
    <!--
    <div class="modal" id="LoginWindow" tabindex="-1" role="dialog" aria-labelledby="LoginWindowModalTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered  modal-xl " role="document">-->
    <div></div>

    <div class="form-group login">
      <image alt="J" src="./app/config/images/JF_Iogo-white.png" class="mx-auto d-block"
        style="height:180px; width:410px;"></image>
    </div>

    <div class="login">
      <div>
        <!--<div id="LoginAlert" class="alert alert-dismissible">{{AlertMessage}}
        </div>-->

        <div class="tab-pane fade show active plainBackground round-border" id="LoginInfo" role="tabpanel"
          aria-labelledby="tab1-tab" style="margin-top:0px;">
          <h4 class="padded-div-top text-center">Account Log In</h4>
          <p class="standardDivFont text-center">{{LoginMessage}}
          </p>

          <div class="container col-md-8 standardDivFont login-details">
            <div class="form-group">
              <label for="Email" class="col-form-label">Username/Email</label>
              <input class="form-control" type="text" id="Email" ng-model="LoginUser.Email"
                placeholder="Email or Username">
            </div>
            <div class="form-group">

              <label for="Password" class="col-form-label">Password</label>
              <input class="form-control" type="password" id="Password" ng-model="LoginUser.Password">
              <button class="btn btn-primary form-control login-btn" id="btn-login" ng-click="Login()"
                style="width: 100%;">Log in</button>
              <a href="#!resetpassword" class="lableCenterAlign btn-link-black">Forgot your password?</a>
            </div>
          </div>
        </div>

        <!--Initial Settings setup-->
        <div id="ApplicationSetup" name="ApplicationSetup" class="standardDivFont">
          <div>
            <ul class="nav nav-tabs" id="tab-next-prev" role="tablist" style="display:none;">
              <li class="nav-item">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
                  aria-selected="true"></a>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"></a>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"></a>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4"></a>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab5-tab" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5"></a>
                </a>
              </li>
            </ul>
            <div class="tab-content appSetUp" id="tab-next-prev-content">
              <div class="tab-pane fade show active plainBackground round-border" id="tab1" role="tabpanel"
                aria-labelledby="tab1-tab" style="margin-top:0px;">
                <h3 class="padded-div-top text-center">Welcome to Jucce Finance</h3>
                <h4 class="padded-div-top text-center">Let’s setup your company details so you can begin!</h4>
                <div class="appSetUp-div">
                  <div class="container col-md-8 standardDivFont setup-details">
                    <!-- Logo -->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="logoContainer"></label>
                      <div class="col-md-3" id="logoContainer">
                        <canvas id="SetUp-CompanyLogo" style="height: 100px; width: 200px;"></canvas>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="Logo"></label>
                      <div class="col-md-4 ">
                        <button id="filePicker" ng-click="pickFile()" class="btn btn-info">Choose Logo</button>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="textinput">Company Name</label>
                      <div class="col-md-7">
                        <input id="CompanyName" name="textinput" type="text" placeholder=""
                          class="form-control input-md" ng-model="Settings.CompanyName" required>
                        <small id="CompanyName_error" class="form-text error-field"></small>
                      </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="Currency">Currency</label>
                      <div class="col-md-7">
                        <select id="Currency" name="Currency" class="form-control" ng-model="Settings.Currency">
                          <option ng-repeat="currency in Currencies" value="{{currency.ISO}}">{{currency.ISO}}
                            ({{currency.Symbol}}) - {{currency.Currency}}</option>
                        </select>
                        <small id="Currency_error" class="form-text error-field"></small>
                      </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="AccentColor">Accent Color</label>
                      <div class="col-md-4">
                        <input id="AccentColor" name="textinput" type="text" placeholder=""
                          class="form-control input-md" ng-model="Settings.AccentColor" required>
                        <small id="AccentColor_error" class="form-text error-field"></small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="#" role="button" class="btn btn-secondary btn-tab-next" id="nextTab1">Next</a>
                </div>
              </div>

              <div class="tab-pane fade plainBackground round-border" id="tab2" role="tabpanel"
                aria-labelledby="tab2-tab">

                <h3 class="padded-div-top text-center"> Company Address</h3>

                <div class="appSetUp-div">
                  <div class="container col-md-8 standardDivFont setup-details">
                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="AddressLine1">Address Line 1</label>
                      <div class="col-md-7">
                        <input id="AddressLine1" name="AddressLine1" type="text" placeholder=""
                          class="form-control input-md" ng-model="Settings.AddressLine1" required="">
                        <small id="AddressLine1_error" class="form-text error-field"></small>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="AddressLine2">Address Line 2</label>
                      <div class="col-md-7">
                        <input id="AddressLine2" name="AddressLine2" type="text" placeholder=""
                          class="form-control input-md" ng-model="Settings.AddressLine2" required="">

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="City">City</label>
                      <div class="col-md-7">
                        <input id="City" name="City" type="text" placeholder="" class="form-control input-md"
                          required="" ng-model="Settings.City">
                        <small id="City_error" class="form-text error-field"></small>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="Country">Country</label>
                      <div class="col-md-7">
                        <select id="Country" name="Country" class="form-control" ng-model="Settings.Country">
                          <option ng-repeat="country in Countries" value="{{country.Country}}">
                            {{country.Country}}
                          </option>
                        </select>
                        <small id="Country_error" class="form-text error-field"></small>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="ZipCode">Postal/Zip Code</label>
                      <div class="col-md-4">
                        <input id="ZipCode" name="ZipCode" type="text" placeholder="" class="form-control input-md"
                          ng-model="Settings.ZipCode">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="#" role="button" class="btn btn-secondary btn-tab-prev">Previous</a>
                  <a href="#" role="button" class="btn btn-secondary btn-tab-next" id="nextTab2">Next</a>
                </div>
              </div>

              <div class="tab-pane fade plainBackground round-border" id="tab3" role="tabpanel"
                aria-labelledby="tab3-tab">
                <h3 class="padded-div-top text-center">Company Contact Info</h3>
                <div class="appSetUp-div">

                  <div class="container col-md-8 standardDivFont setup-details">
                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="Phone">Phone</label>
                      <div class="col-md-7">
                        <input id="Phone" name="Phone" type="text" placeholder="" class="form-control input-md"
                          required="" ng-model="Settings.Phone">

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="Fax">Fax</label>
                      <div class="col-md-7">
                        <input id="Fax" name="Fax" type="text" placeholder="" class="form-control input-md"
                          ng-model="Settings.Fax">

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="companyEmail">Email</label>
                      <div class="col-md-7">
                        <input id="companyEmail" name="Email" type="text" placeholder="" class="form-control input-md"
                          ng-model="Settings.Email">
                        <small id="companyEmail_error" class="form-text error-field"></small>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="Website">Website</label>
                      <div class="col-md-7">
                        <input id="Website" name="Website" type="text" placeholder="" class="form-control input-md"
                          ng-model="Settings.Website">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="#" role="button" class="btn btn-secondary btn-tab-prev">Previous</a>
                  <a href="#" role="button" class="btn btn-secondary btn-tab-next" id="nextTab3">Next</a>
                </div>
              </div>


              <!--
              <div class="tab-pane fade plainBackground" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                <div class="padded-div appSetUp-div">
                  <h3>Currency Info</h3>
                  
                  

                  <div class="form-group row">
                    <label class="col-md-4 control-label" for="Website">Enable Daily Exchange Rate</label>
                    <div class="col-md-1">
                      <input type="checkbox" name="DailyExchangeRate" id="DailyExchangeRate"
                        ng-model="Settings.EnableDailyExchangeRate" value="Settings.EnableDailyExchangeRate" />
                    </div>
                  </div>

                  
                  <div id="DailyExchangePane" ng-show="Settings.EnableDailyExchangeRate">
                    <div class="form-group row" id="div_ExchangeRate">
                      <label class="col-md-4 control-label" for="ExchangeRate" id="label_ExchangeRate">Exchange
                        Rate</label>
                      <div class="col-md-7">
                        <input id="ExchangeRate" name="ExchangeRate" type="number" placeholder=""
                          ng-model="Settings.DailyExchangeRate" class="form-control input-md">
                      </div>
                    </div>

                    
                    <div class="form-group row" id="div_ReferenceCurrency">
                      <label class="col-md-4 control-label" for="ReferenceCurrency"
                        id="label_ReferenceCurrency">Reference
                        Currency</label>
                      <div class="col-md-7">
                        <select id="ReferenceCurrency" name="ReferenceCurrency" class="form-control"
                          ng-model="Settings.ReferenceCurrency">
                          <option ng-repeat="currency in Currencies " value="{{currency.ISO}}">
                            {{currency.ISO}}
                            ({{currency.Symbol}}) - {{currency.Currency}}</option>

                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="#" role="button" class="btn btn-secondary btn-tab-prev">Previous</a>
                  <a href="#" role="button" class="btn btn-secondary btn-tab-next" id="nextTab4">Next</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="CloseCustomerModal2"
                    ng-click="CloseCustomerModal()">Cancel</button>
                </div>
              </div>

            -->

              <div class="tab-pane fade plainBackground round-border" id="tab4" role="tabpanel"
                aria-labelledby="tab4-tab">
                <h3 class="padded-div-top text-center">Create Account</h3>
                <div class="appSetUp-div">
                  <div class="container col-md-8 standardDivFont setup-details">
                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="Name">Name</label>
                      <div class="col-md-7">
                        <input class="form-control" type="text" id="Name" ng-model="NewUser.Name"
                          placeholder="Full Name">
                        <small id="Name_error" class="form-text error-field"></small>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="Username">Username</label>
                      <div class="col-md-7">
                        <input class="form-control" type="text" id="AUsername" ng-model="NewUser.Username"
                          placeholder="Username">
                        <small id="AUsername_error" class="form-text error-field"></small>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="AEmail">Email Address</label>
                      <div class="col-md-7">
                        <input class="form-control" type="text" id="AEmail" ng-model="NewUser.Email"
                          placeholder="Email Address">
                        <small id="AEmail_error" class="form-text error-field"></small>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="JobTitle">JobTitle</label>
                      <div class="col-md-7">
                        <input class="form-control" type="text" id="JobTitle" ng-model="NewUser.JobTitle"
                          placeholder="Job Title">
                        <small id="JobTitle_error" class="form-text error-field"></small>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="APassword">Password</label>
                      <div class="col-md-7">
                        <input class="form-control" type="password" id="APassword" ng-model="NewUser.Password">
                        <small id="APassword_error" class="form-text error-field"></small>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="ConfirmPassword">Confirm Password</label>
                      <div class="col-md-7">
                        <input class="form-control" type="password" id="ConfirmPassword"
                          ng-model="NewUser.ConfirmPassword">
                        <small id="ConfirmPassword_error" class="form-text error-field">Enter Matching
                          Password!</small>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="Question1">Security Question 1</label>
                      <div class="col-md-7">
                        <select id="Question1" name="Question1" class="form-control" ng-model="NewUser.Question1">
                          <option ng-repeat="question in SecurityQuestions" value="{{question}}">
                            {{question}}
                          </option>
                        </select>
                        <small class="form-text text-small">{{NewUser.Question1}}</small>
                        <small id="Question1_error" class="form-text error-field"></small>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="Answer1">Answer 1</label>
                      <div class="col-md-7">
                        <input class="form-control" type="text" id="Answer1" ng-model="NewUser.Answer1">
                        <small id="Answer1_error" class="form-text error-field"></small>
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="Question2">Security Question 2</label>
                      <div class="col-md-7">
                        <select id="Question2" name="Question2" class="form-control" ng-model="NewUser.Question2">
                          <option ng-repeat="question in SecurityQuestions" value="{{question}}">
                            {{question}}
                          </option>
                        </select>
                        <small class="form-text text-small">{{NewUser.Question2}}</small>
                        <small id="Question2_error" class="form-text error-field"></small>

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                      <label class="col-md-4 control-label" for="Answer2">Answer 2</label>
                      <div class="col-md-7">
                        <input class="form-control" type="text" id="Answer2" ng-model="NewUser.Answer2">
                        <small id="Answer2_error" class="form-text error-field"></small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="#" role="button" class="btn btn-secondary btn-tab-prev">Previous</a>
                  <button id="SaveCustomer" data-dismiss="modal" class="btn btn-primary btn-tab-next"
                    ng-click="Save()">Save</button>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="UserModalTitle"
    aria-hidden="true">


  </div>
</form>