<form role="form" name="invoiceDashboardForm" novalidate>
    <div class="modal-body">
        <div id="InvoiceDashBoard">
            <div class="form-group">                
                <div class="form-group row round-border">
                    <div class="title-label">
                        <label>Dashboard</label>
                    </div>
                </div>
                <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span id="message"></span>
                </div>

                <div class="round-border-non-row">
                    <div class="row">
                        <div class="MainDashbord-Counters BorderRight">
                            <div class="counter-title">
                                <label id="PaidInvoices"
                                    class="Dashboard-Counter text-blue">{{TotalPaidInvoiceAmount}}</label>
                                <p>Paid Invoices </p>
                            </div>
                        </div>
                        <div class="MainDashbord-Counters BorderRight">
                            <div class="counter-title">
                                <label id="UnpaidInvoices"
                                    class="Dashboard-Counter text-yellow">{{TotalUnpaidInvoiceAmount}}</label>
                                <p>Unpaid Invoices</p>
                            </div>
                        </div>

                        <div class="MainDashbord-Counters BorderRight">
                            <div class="counter-title">
                                <label id="PaidExpenses"
                                    class="Dashboard-Counter text-blue">{{TotalPaidExpenseAmount}}</label>
                                <p>Paid Expenses</p>
                            </div>
                        </div>

                        <div class="MainDashbord-Counters">
                            <div class="counter-title">
                                <label id="UnpaidExpenses"
                                    class="Dashboard-Counter text-yellow">{{TotalUnpaidExpenseAmount}}</label>
                                <p>Unpaid Expenses</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row round-border">
                    <div class="row form-group DashboardButton">
                        <a class="btn  btn-outline main-button main-button-blue" ng-href="#!createinvoice">
                            <div>
                                <svg class="bi bi-file-earmark-check" width="50px" height="50px" viewBox="0 0 16 16"
                                    fill="currentColor">
                                    <path
                                        d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h5v-1H4a1 1 0 01-1-1V3a1 1 0 011-1h5v2.5A1.5 1.5 0 0010.5 6H13v2h1V6L9 1z" />
                                    <path fill-rule="evenodd"
                                        d="M15.854 10.146a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708l1.146 1.147 2.646-2.647a.5.5 0 01.708 0z"
                                        clip-rule="evenodd" />
                                </svg><span>Create A New Invoice</span>
                            </div>
                        </a>
                    </div>
                    <div class="row form-group DashboardButton DashboardButton-row">
                        <a class="btn  btn-outline main-button main-button-yellow" ng-href="#!addexpense">
                            <div>
                                <svg class="bi bi-file-earmark-check" width="50px" height="50px" viewBox="0 0 16 16"
                                    fill="currentColor">
                                    <path
                                        d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h5v-1H4a1 1 0 01-1-1V3a1 1 0 011-1h5v2.5A1.5 1.5 0 0010.5 6H13v2h1V6L9 1z" />
                                    <path fill-rule="evenodd"
                                        d="M15.854 10.146a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708l1.146 1.147 2.646-2.647a.5.5 0 01.708 0z"
                                        clip-rule="evenodd" />
                                </svg><span>Record A New Expense</span>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="row charts">
                    <div class="col-md-7 round-border">
                        <div>
                            <label class="table-title-lable">Cash Flow</label>
                        </div>
                        <div class="container BarChartDiv" id="chart">
                            <canvas id="ProfitAndLoss" width="600" height="400"></canvas>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 round-border">
                        <div>
                            <label class="table-title-lable">Invoices Overdue</label>
                        </div>
                        <div class="" style="margin-right: 2.5%;">
                            <table class="table table-striped TableHover" style="width:100%" id="InvoicesTable">
                                <tbody class="table-rows">
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <a href="#!invoices">View all</a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-7 round-border">
                            <div class="row">
                                <div class="col-9"><label class="table-title-lable">Break down of Expenses</label></div>
                                <div class="col-3"><select id="ExpensePeriod" class="form-control">
                                    <option selected>This Month</option>
                                    <option>This Quarter</option>
                                    <option>This Year</option>
                                    <option>All</option>                                    
                                </select></div>
                                
                            </div>
                            <div class="container PieChartDiv">
                                
                                <label class="table-title-lable" ng-show="HasExpenseData == false">No Expense Data Available</label>
                                <canvas id="ExpenseBreakdown" width="400" height="300"></canvas>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <div class="round-border-non-row">
                                <div>
                                    <label class="table-title-lable">Expenses Overdue</label>
                                </div>
                                <div class="" style="margin-right: 2.5%;">
                                    <table class="table table-striped TableHover" style="width:100%" id="ExpensesTable">
                                        <tbody class="table-rows">
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <a href="#!expenses">View all</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <i class="modal-footer">
                </i>
            </div>
        </div>
        <!--********************************************************************************************************************************-->
</form>