<form role="form" name="ProductForm" novalidate>
    <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span id="message"></span>
    </div>
    <div class="modal-body">
        <div id="displayProducts" class="container-fluid">
            <div class="form-group row round-border">
                <div class="title-label">
                    <label>Products & Services</label>
                </div>
            </div>
            <div id="displayProducts" class="form-group round-border-non-row">
                <div class="DashboardButton">
                    <button id="AddProductBtn" type="button" class="btn btn-outline main-button" data-toggle="modal"
                        data-target="#ProductModal" ng-click="AddProduct()"><svg width="1em" height="1em"
                            viewBox="0 0 16 16" class="bi bi-cart-plus" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8.5 5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
                            <path fill-rule="evenodd"
                                d="M8 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0v-2z" />
                            <path fill-rule="evenodd"
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg>
                        <span>Add New Product/Service</span></button>
                </div>
                <div>
                    <table class="table table-striped" style="width:100%" id="ProductsTable">
                        <thead>
                            <tr class="table-header" style="width:100%">
                                <td>Product/Service</td>
                                <td>Description</td>
                                <td>Price</td>
                                <td>Cost</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <i class="modal-footer">
            </i>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalTitle"
        aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ProductModalLongTitle">Add Product/Service</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="Products">
                        <div class="">
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="Name" class="col-form-label lableRightAlign">Name</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control" type="text" id="Product" ng-model="NewProduct.Name"
                                        placeholder="Name of product">
                                    <small id="Product_error" class="form-text error-field"
                                        class="form-text error-field"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="Description" class="col-form-label lableRightAlign">Description</label>
                                </div>
                                <div style="width:260px;">
                                    <textarea class="form-control" type="text" id="Description"
                                        placeholder="Description" ng-model="NewProduct.Description"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="Tax" class="col-form-label lableRightAlign">Sales Tax</label>
                                </div>
                                <div style="width:260px;"> 
                                    <select ng-model="NewProduct.SalesTax" ng-change="lineValueChange($index)" id="Tax" class="form-control">
                                        <option ng-value="" ng-show="NewProduct.SalesTax != ''"></option>
                                        <option ng-repeat="tax in Tax" ng-value="tax.Name">{{tax.Name}} {{tax.TaxRate}}%
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="sellThis" class="col-form-label lableRightAlign">Sell this</label>
                                </div>
                                <div style="width:260px;">
                                    <input id="sellThis" type="checkbox" ng-model="NewProduct.Sell">
                                </div>
                            </div>
                            <div class="form-group row" ng-show="NewProduct.Sell == true">
                                <div style="width:160px;">
                                    <label for="Price" class="col-form-label lableRightAlign">Price
                                        {{CurrencySymbol}}</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control" id="Price" ng-model="NewProduct.Price"
                                        ng-blur="PriceOnChange()" placeholder="0.00" valid-number>
                                </div>
                            </div>
                            <div class="form-group row" ng-show="NewProduct.Sell == true">
                                <div style="width:160px;">
                                    <label for="Tax" class="col-form-label lableRightAlign">Income account</label>
                                </div>
                                <div style="width:260px;">
                                    <select ng-model="NewProduct.IncomeAccount" ng-change="lineValueChange($index)"
                                        id="IncomeAccount" class="form-control">
                                        <option ng-value="" ng-show="NewProduct.IncomeAccount != ''"></option>
                                        <option ng-repeat="account in IncomeAccount" ng-value="account.UniqueID">
                                            {{account.AccountName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="width:160px;">
                                    <label for="buyThis" class="col-form-label lableRightAlign">Buy this</label>
                                </div>
                                <div style="width:260px;">
                                    <input id="buyThis" type="checkbox" ng-model="NewProduct.Buy">
                                </div>
                            </div>
                            <div class="form-group row" ng-show="NewProduct.Buy == true">
                                <div style="width:160px;">
                                    <label for="Cost" class="col-form-label lableRightAlign">Cost
                                        {{CurrencySymbol}}</label>
                                </div>
                                <div style="width:260px;">
                                    <input class="form-control"  id="Cost" ng-model="NewProduct.Cost"
                                        ng-blur="CostOnChange()" placeholder="0.00" valid-number>
                                </div>
                            </div>
                            <div class="form-group row" ng-show="NewProduct.Buy == true">
                                <div style="width:160px;">
                                    <label for="Tax" class="col-form-label lableRightAlign">Expense account</label>
                                </div>
                                <div style="width:260px;">
                                    <select ng-model="NewProduct.ExpenseAccount" ng-change="lineValueChange($index)"
                                        id="ExpenseAccount" class="form-control">
                                        <option ng-value="" ng-show="NewProduct.ExpenseAccount != ''"></option>
                                        <option ng-repeat="account in ExpenseAccount" ng-value="account.UniqueID">
                                            {{account.AccountName}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button id="SaveProduct" class="btn btn-primary btn-tab-next" ng-click="SaveProduct()"
                            ng-show="!NewProduct.UniqueID">Save</button>
                        <button id="UpdateProduct" class="btn btn-success btn-tab-next" ng-click="UpdateProduct()"
                            ng-show="NewProduct.UniqueID">Update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="CloseProductModal2"
                            ng-click="CloseProductModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: delete Product -->
    <div class="modal fade" id="DeleteProduct" tabindex="-1" role="dialog" aria-labelledby="DeleteProductLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteProductLabel">Delete Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete:<span> {{DeleteProduct.Name}}</span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="deleteBtn" type="button" class="btn btn-danger"
                        ng-click="RemoveProduct()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>