<form role="form" name="profitandlossForm" novalidate>
    <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span id="message"></span>
    </div>
    <div class="modal-body">
        <div id="display" class="container-fluid">
            <div class="form-group row round-border">
                <div class="title-label">
                    <label>Profit & Loss</label>
                </div>
            </div>
            <div class="round-border-non-row">
                <div>
                    <label>Search Filters</label>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-2">
                        <label for="DateRange">Date Range</label>
                        <select id="DateRange" class="form-control" ng-model="DateRangeFilters"
                            ng-change="DateRangeChange()">
                            <optgroup ng-repeat="(key,value) in DateRangeFilter track by $index"
                                label="{{value.label}}">
                                <option ng-repeat="filter in value.filters track by $index"
                                    data-endDate="{{filter.endDate}}" data-startDate="{{filter.startDate}}"
                                    value="{{filter.label}}">{{filter.label}}</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="FromDate">From</label>
                        <input type="text" class="form-control" data-provide="datepicker" id="FromDate"
                            ng-model="FromDate">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="ToDate">To</label>
                        <input type="text" class="form-control" data-provide="datepicker" id="ToDate" ng-model="ToDate">
                    </div>

                </div>
                <button class="btn btn-primary" type="submit" id="ApplyFilter" ng-click="Applyfilter()">Update
                    Report</button>
                <button class="btn btn-secondary" type="submit" id="ClearFilters"
                    ng-click="ClearFilters()">Reset</button>

                <button style="float: right;" type="submit" class="btn btn-outline-primary"
                    ng-click="ExportPDFStatement()">
                    <span class="glyphicon glyphicon-download-alt"></span> Export Report
                </button>

            </div>
            <div class="round-border-non-row">
                <div class="row">
                    <div class="PandL ">
                        <div class="counter-title">
                            <label id="Income" class="Dashboard-Amount text-blue">{{TotalIncome}}</label>
                            <p>Income</p>
                        </div>
                    </div>
                    <div class="PandL-sign">
                        <label class="Dashboard-Amount text-blue">-</label>
                    </div>
                    <div class="PandL ">
                        <div class="counter-title">
                            <label id="CostofGoodSold" class="Dashboard-Amount text-blue">{{TotalCOGS}}</label>
                            <p>Cost of Good Sold</p>
                        </div>
                    </div>
                    <div class="PandL-sign">
                        <label class="Dashboard-Amount text-blue">-</label>
                    </div>
                    <div class="PandL ">
                        <div class="counter-title">
                            <label id="OperatingExpenses"
                                class="Dashboard-Amount text-yellow">{{TotalOperatingExpenses}}</label>
                            <p>Operating Expenses</p>
                        </div>
                    </div>
                    <div class="PandL-sign">
                        <label class="Dashboard-Amount text-blue">=</label>
                    </div>
                    <div class="PandL ">
                        <div class="counter-title">
                            <label id="NetProfit" class="Dashboard-Amount text-green"
                                ng-show="IsProfit">{{NetProfit}}</label>
                            <label id="NetLoss" class="Dashboard-Amount text-red"
                                ng-show="!IsProfit">{{NetProfit}}</label>
                            <p>Net Profit</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="round-border-non-row">
                <label class="text-bold">Accounts</label>

                <!--Income Accounts-->
                <div class="form-group" style="padding-top: 20px;">
                    <table id="IncomeAccounts" class="table" style="width:100%">

                        <thead>
                            <tr class="text-bold table-rows greyBackground">
                                <td>Income</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>                            
                            <tr class="table-rows " ng-repeat=" account in IncomeAccountsData.Accounts">
                                <td>{{account.AccountName}}</td>
                                <td class="text-right">{{account.AccountDifference}}</td>
                            </tr>                            
                        </tbody>
                        <tfoot>
                            <tr class="text-bold table-rows">
                                <td>Total Income</td>
                                <td class="text-right">{{TotalIncome}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <!--COGS Accounts-->

                <div class="form-group" style="padding-top: 20px;">
                    <table id="COGS" class="table " style="width:100%">
                        <thead>
                            <tr class="text-bold table-rows greyBackground">
                                <td>Cost of Goods Sold</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-rows" ng-repeat=" account in COGSAccountsData.Accounts">
                                <td>{{account.AccountName}}</td>
                                <td class="text-right">{{account.AccountDifference}}</td>
                            </tr>
                            <tr class="text-bold table-rows">
                                <td>Total Cost of Goods Sold</td>
                                <td class="text-right">{{TotalCOGS}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="text-bold table-rows greyBackground">
                                <td>Gross Profit </td>
                                <td class="text-right">{{GrossProfit}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <!--Operating Expense Accounts-->

                <div class="form-group" style="padding-top: 20px;">
                    <table id="OperatingExpense" class="table " style="width:100%">
                        <thead>
                            <tr class="text-bold table-rows greyBackground">
                                <td>Operating Expenses</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-rows" ng-repeat=" account in ExpensesAccountsData.Accounts">
                                <td>{{account.AccountName}}</td>
                                <td class="text-right">{{account.AccountDifference}}</td>
                            </tr>
                            <tr class="table-rows" ng-repeat=" account in TaxAccountsData.Accounts">
                                <td>{{account.AccountName}}</td>
                                <td class="text-right">{{account.AccountDifference}}</td>
                            </tr>
                            <tr class="text-bold table-rows">
                                <td>Total Operating Expenses</td>
                                <td class="text-right">{{TotalOperatingExpenses}}</td>
                            </tr>
                        </tbody>                        
                        <tfoot>
                            <tr class="text-bold table-rows greyBackground">
                                <td>Net Profit</td>
                                <td class="text-right">{{NetProfit}}</td>
                            </tr>
                        </tfoot>                    
                    </table>
                </div>
            </div>
            <i class="modal-footer">
            </i>
        </div>
    </div>
</form>