<form role="form" name="transactionForm" novalidate>

    <div class="login-center row" id="LoginWindow">
        <div id="ResetAlert" class="alert alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span id="message"></span>
        </div>

        <div id="ResetAlertSuccess" class="alert alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span id="message"></span>
        </div>

        <div class="form-group login modal-header">
            <image alt="J" src="./app/config/images/JF_Iogo-white.png" class="mx-auto d-block"
        style="height:180px; width:410px;"></image>
        </div>
        <div class="login">
            <div class="modal-body">
                <div id="PasswordReset" name="PasswordReset">
                    <div class="tab-pane fade show active plainBackground round-border" id="tab1" role="tabpanel"
                        aria-labelledby="tab1-tab" style="margin-top:0px;">
                        <h4 class="padded-div-top text-center">Password Reset</h4>
                        


                        <div class="form-group col-lg-6 offset-md-3 standardDivFont login-details" id="UserToReset">
                            <p class="standardDivFont text-center">Enter your Username/Email to begin!
                            </p>
                            <label for="Email" class="col-form-label">Username/Email</label>
                            <input class="form-control" type="text" id="ResetUser" ng-model="ResetUser.Email"
                                placeholder="Email or Username or Phone number">
                            <small id="ResetUser_error" class="form-text error-field">This user does not
                                exist!</small>
                            <button class="btn btn-primary form-control login-btn btn-fullwidth" id="btn-login"
                                style="width: 100%;" ng-click="GetUserDetails()">Submit</button>
                            <a href="#" class="lableCenterAlign btn-link-black">Cancel</a>

                        </div>

                        <!-- Text input-->
                        <div id="questions" class="col-lg-10 offset-lg-1 standardDivFont">
                            <!--
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="ResetQuestion1">User: </label>
                                <label class="form-control" id="ResetQuestion1">{{ResetUser.Name}}</label>
                            </div>
                            -->
                            <div class="form-group ">
                                <h5 class="padded-div-top">{{ResetPasswordMessage}}</h5>
                            </div>
                            <div class="form-group ">
                                <label class="control-label" id="ResetQuestion1">1. {{ResetUser.Question1}}</label>
                            </div>

                            <!-- Text input-->
                            <div class="form-group ">
                                <label class="col-md-4 control-label" for="ResetUserAnswer1">Your Answer:</label>
                                <input class="form-control" type="text" id="ResetUserAnswer1"
                                    ng-model="ResetUserAnswer1">
                                <small id="UserAnswer1_error" class="form-text error-field"></small>
                            </div>

                            <!-- Text input-->
                            <div class="form-group ">
                                <label class="control-label" id="ResetQuestion2">2. {{ResetUser.Question2}}</label>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="ResetUserAnswer2">Your Answer:</label>
                                <input class="form-control" type="text" id="ResetUserAnswer2"
                                    ng-model="ResetUserAnswer2">
                                <small id="Answer2_error" class="form-text error-field"></small>
                            </div>

                            <div class="form-group ">
                                <h5 class="padded-div-top">Enter your new password!</h5>
                            </div>

                            <!-- Text input-->
                            <div class="form-group ">
                                <label class="col-md-4 control-label" for="APassword">New Password</label>
                                <input class="form-control" type="password" id="NewPassword" ng-model="NewPassword">
                                <small id="NewPassword_error" class="form-text error-field"></small>
                            </div>

                            <!-- Text input-->
                            <div class="form-group ">
                                <label class="col-md-4 control-label" for="ConfirmNewPassword">Confirm
                                    Password</label>
                                <input class="form-control" type="password" id="ConfirmNewPassword"
                                    ng-model="ConfirmNewPassword">
                                <small id="ConfirmNewPassword_error" class="form-text error-field">Enter
                                    Matching
                                    Password!</small>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary form-control login-btn col-lg-10 offset-lg-1"
                                    id="btn-login" style="width: 100%;" ng-click="ResetPassword()">Save</button>
                                <a href="#" class="lableCenterAlign btn-link-black">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>