<form role="form" name="SalesTaxForm" novalidate>
    <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span id="message"></span>
    </div>
    <div class="modal-body">
        <div id="displaySalesTax" class="container-fluid">
            <div class="form-group row round-border">
                <div class="title-label">
                    <label>Sales Tax</label>
                </div>
            </div>
            <div id="displaySalesTax" class="form-group round-border-non-row">
                <div class="DashboardButton">
                    <button id="AddSalesTaxBtn" type="button" class="btn btn-outline main-button" data-toggle="modal"
                        data-target="#SalesTaxModal" ng-click="AddSalesTax()"><svg width="1em" height="1em"
                            viewBox="0 0 16 16" class="bi bi-clipboard-check" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                            <path fill-rule="evenodd"
                                d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm4.354 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                        </svg>
                        <span>Add New Tax</span></button>
                </div>
                <div>
                    <table class="table table-striped" style="width:100%" id="SalesTaxTable">
                        <thead>
                            <tr class="table-header" style="width:100%">
                                <td>Name</td>
                                <td>Description</td>
                                <td>Rate</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <i class="modal-footer">
                </i>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="SalesTaxModal" tabindex="-1" role="dialog" aria-labelledby="SalesTaxModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SalesTaxModalLongTitle">Add Sales Tax</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="SalesTax">
                            <div class="">
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="Name" class="col-form-label lableRightAlign">Name</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="Name" ng-model="NewSalesTax.Name"
                                            placeholder="Name of SalesTax">
                                            <small id="Name_error" class="form-text error-field"
                                            class="form-text error-field"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="Abbreviation"
                                            class="col-form-label lableRightAlign">Abbreviation</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="Abbreviation"
                                            ng-model="NewSalesTax.Abbreviation" placeholder="Sales Tax Short Name">
                                            <small id="Abbreviation_error" class="form-text error-field"
                                            class="form-text error-field"></small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="Description"
                                            class="col-form-label lableRightAlign">Description</label>
                                    </div>
                                    <div style="width:260px;">
                                        <textarea class="form-control" type="text" id="Description"
                                            placeholder="Description" ng-model="NewSalesTax.Description"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="TaxNumber" class="col-form-label lableRightAlign">Your Tax
                                            Number</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" type="text" id="TaxNumber"
                                            ng-model="NewSalesTax.TaxNumber" placeholder="Tax Registration Number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div style="width:160px;">
                                        <label for="Rate" class="col-form-label lableRightAlign">Rate (%)</label>
                                    </div>
                                    <div style="width:260px;">
                                        <input class="form-control" id="Rate" ng-model="NewSalesTax.TaxRate"
                                            ng-blur="RateOnChange()" placeholder="0.00" valid-number>
                                            <small id="Rate_error" class="form-text error-field"
                                        class="form-text error-field"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="modal-footer">
                            <button id="SaveSalesTax" class="btn btn-primary btn-tab-next" ng-click="SaveSalesTax()"
                                ng-show="!NewSalesTax.UniqueID">Save</button>
                            <button id="UpdateSalesTax" class="btn btn-success btn-tab-next" ng-click="UpdateSalesTax()"
                                ng-show="NewSalesTax.UniqueID">Update</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="CloseSalesTaxModal2" ng-click="CloseSalesTaxModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal: delete SalesTax -->
        <div class="modal fade" id="DeleteSalesTax" tabindex="-1" role="dialog" aria-labelledby="DeleteSalesTaxLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DeleteSalesTaxLabel">Delete SalesTax</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete:<span> {{DeleteSalesTax.Name}}</span> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="deleteBtn" type="button" class="btn btn-danger"
                            ng-click="RemoveSalesTax()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
</form>