<form role="form" name="supplierForm" novalidate>
    <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span id="message"></span>
    </div>
    <div class="modal-body">
        <div id="displaySuppliers" class="container-fluid">
            <div class="form-group row round-border">
                <div class="title-label">
                    <label>Suppliers</label>
                </div>
            </div>
            <div id="displaySuppliers" class="form-group round-border-non-row">
                <div class="row form-group DashboardButton">
                    <button id="AddCustomerBtn" type="button" class="btn btn-outline main-button" data-toggle="modal"
                        data-target="#SupplierModal" ng-click="AddSupplier()">
                        <div>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5v7h-1v-7a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5v1A1.5 1.5 0 0 1 0 10.5v-7zM4.5 11h6v1h-6v-1z" />
                                <path fill-rule="evenodd"
                                    d="M11 5h2.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5h-1v-1h1a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4.5h-1V5zm-8 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                                <path fill-rule="evenodd"
                                    d="M12 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                            </svg>
                            <span>Add New Supplier</span>
                    </button>
                </div>
                <div>
                    <table class="table table-striped" style="width:100%" id="SuppliersTable">
                        <thead>
                            <tr class="table-header" style="width:100%">
                                <td>Supplier Name</td>
                                <td>Contact Name</td>
                                <td>Phone</td>
                                <td>Currency</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <i class="modal-footer">
            </i>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="SupplierModal" tabindex="-1" role="dialog" aria-labelledby="SupplierModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SupplierModalLongTitle">Supplier Details</h5>
                    <button type="button" id="xCloseSupplierModal" class="close" data-dismiss="modal" aria-label="Close"
                        ng-click="CloseSupplierModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="AddSuppliers" name="Supplier">
                        <h3>Contact Details</h3>
                        <div id="Contact">
                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="Supplier" class="col-form-label lableRightAlign">Supplier</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="SupplierName"
                                        ng-model="NewSupplier.SupplierName" placeholder="Business or Person">
                                    <small id="SupplierName_error" class="form-text error-field"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="FirstName" class="col-form-label lableRightAlign">Contact</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="FirstName"
                                        ng-model="NewSupplier.ContactFname" placeholder="First Name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="LastName" class="col-form-label lableRightAlign"></label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="LastName"
                                        ng-model="NewSupplier.ContactLname" placeholder="Last Name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="Email" class="col-form-label lableRightAlign">Email</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="email" id="Email" name="supplierEmail"
                                        ng-model="NewSupplier.Email" required>
                                    <small id="Email_error" class="form-text error-field"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="Phone" class="col-form-label lableRightAlign">Phone</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="Phone" ng-model="NewSupplier.Phone">
                                    <small id="Phone_error" class="form-text error-field"></small>
                                </div>
                            </div>

                        </div>
                        <h3>Payment Details</h3>
                        <div class="form-group row">
                            <div class="col-md-4 control-label">
                                <label for="Currency" class="col-form-label lableRightAlign">Currency</label>
                            </div>
                            <div class="input-group col-md-7">
                                <select id="Currency" name="Currency" class="form-control"
                                    ng-model="NewSupplier.Currency">
                                    <option ng-repeat="currency in Currencies" value="{{currency.ISO}}">
                                        {{currency.ISO}} ({{currency.Symbol}}) - {{currency.Currency}}</option>
                                </select>
                                <small id="Currency_error" class="form-text error-field"></small>
                            </div>
                        </div>

                        <div id="PaymentsDetails">
                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="PaymentTerm" class="col-form-label lableRightAlign">Payment
                                        Terms</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="PaymentTerm"
                                        ng-model="NewSupplier.PaymentTerms">
                                    <small id="PaymentTerm_error" class="form-text error-field"></small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="PaymentPeriod" class="col-form-label lableRightAlign">Payment
                                        Period</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input id="PaymentPeriod" name="PaymentPeriod" type="number" step="1"
                                        placeholder="0" class="form-control input-md" required=""
                                        ng-model="NewSupplier.PaymentPeriod">
                                    <div class="input-group-append">
                                        <div class="input-group-text">days</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="LatePaymentRate" class="col-form-label lableRightAlign">Late Payment
                                        Rate</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input id="LatePaymentRate" name="LatePaymentRate" type="number" step="1"
                                        placeholder="0" class="form-control input-md" required=""
                                        ng-model="NewSupplier.LatePaymentRate">
                                    <div class="input-group-append">
                                        <div class="input-group-text"> % </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                        <h3>Address</h3>
                        <div id="Address">
                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="AddressLine1" class="col-form-label lableRightAlign">Address
                                        Line 1</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="AddressLine1"
                                        ng-model="NewSupplier.AddressLine1">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="AddressLine2" class="col-form-label lableRightAlign">Address
                                        Line 2</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="AddressLine2"
                                        ng-model="NewSupplier.AddressLine2">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="City" class="col-form-label lableRightAlign">City</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="City" ng-model="NewSupplier.City">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="ZipCode" class="col-form-label lableRightAlign">Postal/ZIP
                                        Code</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <input class="form-control" type="text" id="ZipCode" ng-model="NewSupplier.ZipCode">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4 control-label">
                                    <label for="Country" class="col-form-label lableRightAlign">Country</label>
                                </div>
                                <div class="input-group col-md-7">
                                    <select id="Country" name="Country" class="form-control"
                                        ng-model="NewSupplier.Country">
                                        <option ng-repeat="country in Countries" ng-value="country.Country">
                                            {{country.Country}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="SaveSupplier" class="btn btn-primary btn-tab-next" ng-click="SaveSupplier()"
                                ng-show="!NewSupplier.UniqueID">Save</button>
                            <button id="UpdateSupplier" class="btn btn-success btn-tab-next" ng-click="UpdateSupplier()"
                                ng-show="NewSupplier.UniqueID">Update</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="CloseSupplierModal2" ng-click="CloseSupplierModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: delete supplier -->
    <div class="modal fade" id="DeleteSupplier" tabindex="-1" role="dialog" aria-labelledby="DeleteSupplierLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteSupplierLabel">Delete Supplier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete:<span> {{DeleteSupplier.SupplierName}}</span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="deleteBtn" type="button" class="btn btn-danger"
                        ng-click="RemoveSupplier()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>