<form role="form" name="transactionForm" novalidate>
    <div id="Alert" class="alert alert-dismissible" role="alert" style="text-align:center;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span id="message"></span>
    </div>
    <div class="modal-body">
        <div id="displayTransactions" class="container-fluid">
            <div class="form-group row round-border">
                <div class="title-label">
                    <label>Account Transactions</label>
                </div>
            </div>
            <div class="round-border-non-row">
                <div>
                    <label>Search Filters</label>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Account">Account</label>
                        <select id="Account" class="form-control" ng-model="Account">
                            <!--<optgroup ng-repeat="(value) in Accounts" label="{{value.AccountGroup}}">-->
                            <option ng-repeat="account in Accounts" value="{{account.UniqueID}}">{{account.AccountName}}
                            </option>
                            <!--</optgroup>-->
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="DateRange">Date Range</label>
                        <select id="DateRange" class="form-control" ng-model="DateRangeFilters"
                            ng-change="DateRangeChange()">
                            <optgroup ng-repeat="(key,value) in DateRangeFilter track by $index"
                                label="{{value.label}}">
                                <option ng-repeat="filter in value.filters track by $index"
                                    data-endDate="{{filter.endDate}}" data-startDate="{{filter.startDate}}"
                                    value="{{filter.label}}">{{filter.label}}</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="FromDate">From</label>
                        <input type="text" class="form-control" data-provide="datepicker" id="FromDate"
                            ng-model="FromDate">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="ToDate">To</label>
                        <input type="text" class="form-control" data-provide="datepicker" id="ToDate" ng-model="ToDate">
                    </div>

                </div>
                <button class="btn btn-primary" type="submit" id="ApplyFilter" ng-click="Applyfilter()">Update
                    Report</button>
                <button class="btn btn-secondary" type="submit" id="ClearFilters"
                    ng-click="ClearFilters()">Reset</button>
                <button style="float: right;" type="submit" class="btn btn-outline-primary"
                    ng-click="ExportPDFStatement()">
                    <span class="glyphicon glyphicon-download-alt"></span> Export Report
                </button>
            </div>
            <div class="">
                <div id="displayTransactions" class="form-group round-border-non-row"
                    ng-repeat=" account in AccountsArray" style="padding-top: 20px;">
                    <label class="text-bold">{{account.AccountName}}</label>
                    <table class="table table-striped" style="width:100%" id="TransactionsTable_{{account.AccountIDx}}">                        
                        <thead>
                            <tr class="table-header" style="width:100%">
                                <td>{{account.AccountName}}</td>
                                <td></td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                            </tr>
                            <tr class="table-header" style="width:100%">
                                <td>Date</td>
                                <td>Details</td>
                                <td class="text-right">Debit</td>
                                <td class="text-right">Credit</td>
                                <td class="text-right">Balance</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-bold table-rows">
                                <td colspan="4">Account Starting Balance</td>
                                <td class="text-right">{{account.AccountStartingBalance}}</td>
                            </tr>
                            <tr ng-repeat=" transaction in account.AccountValues" class="table-rows">
                                <td>{{transaction.date}}</td>
                                <td>{{transaction.Description}}</td>
                                <td class="text-right">{{transaction.Debit}}</td>
                                <td class="text-right">{{transaction.Credit}}</td>
                                <td class="text-right">{{transaction.Balance}}</td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr class="text-bold table-rows">
                                <td colspan="2">Account Totals and Ending Balance</td>
                                <td class="text-right">{{account.DebitTotal}}</td>
                                <td class="text-right">{{account.CreditTotal}}</td>
                                <td class="text-right">{{account.AccountTotal}}</td>
                            </tr>
                            <tr class="text-bold table-rows">
                                <td colspan="4">Change In Account Balance</td>
                                <td class="text-right">{{account.AccountDifference}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div ng-show="!AccountsArray[0]" class="text-center">
                    <label>No Transactions Found!</label>
                </div>
            </div>
            <i class="modal-footer">
            </i>
        </div>
    </div>
</form>